.page_black-analysts-list {
	.sidebar__item.top-10-bk {
		display: none;
	}
	@media (max-width: $md1+px) {
		.page__sidebar.sidebar {
			display: none;
		}
	}
	@media (max-width: $md2+px) {
		._text-block {
			padding: 18px 0px 0px 0px;
		}
	}
	@media (max-width: $md3+px) {
		.sidebar__item.top-10-bk {
			display: block;
			.top-10-bk__header {
				display: block;
				&:not(:last-child) {
					margin: 0px 0px 8px 0px;
				}
			}
		}
		._text-block {
			margin: 0px 0px 24px 0px;
		}
		.page__sidebar.sidebar {
			display: grid;
			padding: 24px 0px 0px 0px;
			gap: 16px;
			.top-analysts__header {
				display: block;
				font-size: 16px;
				margin: 0px 0px 8px 0px;
			}
		}
		.sidebar__item.day-mach {
			display: none;
		}
	}
}
.banner_black-analysts-list {
	@media (max-width: $md1+px) {
		margin-bottom: 32px;
	}
	@media (max-width: $md3+px) {
		display: none !important;
	}
}

.banner_h110 {
	@media (max-width: $md1+px) {
		height: 110px;
		position: relative;
		img {
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			object-fit: cover;
		}
	}
}
.banner_304 {
	width: 304px;
	height: 304px;
	position: relative;
	margin: 0px auto;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
}
.banner_black-analysts-list-mobile {
	display: none !important;
	@media (max-width: $md3+px) {
		display: block !important;
	}
}
//! /black-analysts-list
.analyst-blacklist {
	display: grid;
	row-gap: 24px;
	// .analyst-blacklist__header
	&__header {
		display: flex;
		align-items: center;
	}
	// .analyst-blacklist__title
	&__title {
		margin: 0px 6px 0px 0px;
	}
	// .analyst-blacklist__info
	&__info {
		display: flex;
		align-items: center;
		&::before {
			margin: 0px 6px 0px 0px;
		}
		@media (max-width: $md3+px) {
			span {
				display: none;
			}
		}
	}
	// .analyst-blacklist__filter
	&__filter {
	}
	// .analyst-blacklist__table
	&__table {
	}
}
.filter-analyst-blacklist {
	// .filter-analyst-blacklist__time
	&__time {
	}
}
.table-analyst-blacklist {
	// .table-analyst-blacklist__items
	&__items {
		display: grid;
		grid-template-columns: 1fr repeat(4, minmax(96px, auto)) repeat(4, auto);
		//align-items: center;
		row-gap: 8px;
		&:not(:last-child) {
			margin: 0px 0px 8px 0px;
		}
		@media (max-width: $md2+px) {
			display: none;
		}
	}
	// .table-analyst-blacklist__title
	&__title {
		padding: 0px 8px;
		text-align: center;
		@extend ._caption;
		color: $secondary;
		&_first {
			padding: 0px 8px 0px 24px;
			text-align: left;
		}
		&_lust {
			padding: 0px 24px 0px 8px;
		}
	}
	// .table-analyst-blacklist__item
	&__item {
		padding: 16px 8px;
		min-height: 88px;
		display: flex;
		align-items: center;
		justify-content: center;
		@extend %element-bg;
		// .table-analyst-blacklist__item_analyst
		&_analyst {
			padding: 16px 8px 16px 24px;
			border-radius: 4px 0 0 4px;
			justify-content: flex-start;
		}
		// .table-analyst-blacklist__item_rating
		&_rating {
		}
		// .table-analyst-blacklist__item_status
		&_status {
		}
		// .table-analyst-blacklist__item_reliable
		&_reliable {
		}
		// .table-analyst-blacklist__item_views
		&_views {
		}
		// .table-analyst-blacklist__item_reviews
		&_reviews {
		}
		// .table-analyst-blacklist__item_button
		&_button {
			padding: 16px 24px 16px 8px;
			border-radius: 0px 4px 4px 0px;
		}
	}
	// .table-analyst-blacklist__analyst
	&__analyst {
	}
	// .table-analyst-blacklist__status
	&__status {
	}
	// .table-analyst-blacklist__reliable
	&__reliable {
		padding: 0px 10px;
		background-color: $fail;
		border-radius: 4px;
	}
	// .table-analyst-blacklist__views
	&__views {
		color: inherit;
		display: flex;
		align-items: center;
		cursor: pointer;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $link;
			}
		}
		&::before {
			margin: 0px 6px 0px 0px;
		}
	}
	// .table-analyst-blacklist__reviews
	&__reviews {
		color: inherit;
		display: flex;
		align-items: center;
		cursor: pointer;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $link;
			}
		}
		&::before {
			margin: 0px 6px 0px 0px;
		}
	}
	// .table-analyst-blacklist__button
	&__button {
	}
	// .table-analyst-blacklist__footer
	&__footer {
		padding: 10px;
		@media (max-width: $md4+px) {
			flex-direction: column;
		}
	}
	// .table-analyst-blacklist__btn
	&__btn {
		@media (max-width: $md4+px) {
			width: 100%;
			&:not(:last-child) {
				margin: 0px 0px 8px 0px;
			}
		}
	}
	// .table-analyst-blacklist__mobile-items
	&__mobile-items {
	}
}

.mobile-items-table-analyst-blacklist {
	display: none;
	@media (max-width: $md2+px) {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
		gap: 16px;
	}
	@media (max-width: $md3+px) {
		gap: 8px;
	}
	// .mobile-items-table-analyst-blacklist__item
	&__item {
	}
}
.item-mobile-analyst-blacklist {
	// .mobile-items-table-analyst-blacklist__body
	&__body {
		padding: 16px;
		background: linear-gradient(180deg, rgba(3, 14, 27, 0.6) 0%, #041324 0.01%, #030e1b 100%);
		border-radius: 4px;
		display: grid;
		gap: 16px;
	}
	// .mobile-items-table-analyst-blacklist__header
	&__header {
		display: grid;
		grid-template-columns: 56px 1fr;
	}
	// .mobile-items-table-analyst-blacklist__row
	&__row {
	}
	// .mobile-items-table-analyst-blacklist__avatar
	&__avatar {
		flex: 0 0 56px;
		width: 56px;
		height: 56px;
		overflow: hidden;
		border-radius: 50%;
	}
	// .mobile-items-table-analyst-blacklist__right-column
	&__right-column {
		display: grid;
		gap: 8px;
		padding: 0px 0px 0px 16px;
	}
	// .mobile-items-table-analyst-blacklist__views
	&__views {
		color: inherit;
		display: flex;
		align-items: center;
		cursor: pointer;
		font-size: 12px;
		transition: color 0.3s ease 0s;
		&::before {
			margin: 0px 6px 0px 0px;
			width: 16px;
			height: 16px;
			flex: 0 0 16px;
			font-size: 16px;
		}
	}

	// .mobile-items-table-analyst-blacklist__block-item
	&__block-item {
		&_rating {
			.rating__value {
				font-size: 12px;
			}
		}
	}
	// .mobile-items-table-analyst-blacklist__reviews
	&__reviews {
		color: inherit;
		display: flex;
		align-items: center;
		cursor: pointer;
		font-size: 12px;
		transition: color 0.3s ease 0s;
		&::before {
			margin: 0px 6px 0px 0px;
			width: 16px;
			height: 16px;
			flex: 0 0 16px;
			font-size: 16px;
		}
	}
	// .mobile-items-table-analyst-blacklist__name
	&__name {
		font-weight: 600;
		font-size: 18px;
		line-height: math.div(24px, 18px) * 100%;
	}
	// .mobile-items-table-analyst-blacklist__stat-block
	&__stat-block {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
	}
	// .mobile-items-table-analyst-blacklist__block-item
	&__block-item {
		// .mobile-items-table-analyst-blacklist__block-item_rating
		&_rating {
		}
	}
	// .mobile-items-table-analyst-blacklist__big-items
	&__big-items {
	}
	// .mobile-items-table-analyst-blacklist__footer
	&__footer {
	}
	// .mobile-items-table-analyst-blacklist__button
	&__button {
		width: 100%;
	}
}
.big-items-nalyst-blacklist {
	display: grid;
	gap: 24px;
	grid-auto-flow: column;
	// .big-items-nalyst-blacklist__item
	&__item {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	// .big-items-nalyst-blacklist__label
	&__label {
		font-size: 10px;
		line-height: 14px;
		color: #6c89a9;
		margin: 0px 0px 4px 0px;
	}
	// .big-items-nalyst-blacklist__status
	&__status {
	}
	// .big-items-nalyst-blacklist__reliable
	&__reliable {
		font-size: 12px;
		line-height: 18px;
		padding: 2px 9px;
		min-height: 22px;
		display: flex;
		justify-content: center;
		align-items: center;
		background: #ef3900;
		border-radius: 4px;
	}
}

.analyst-table-analyst-blacklist {
	display: flex;
	align-items: center;
	// .analyst-table-analyst-blacklist__avatar
	&__avatar {
		flex: 0 0 56px;
		width: 56px;
		height: 56px;
		overflow: hidden;
		border-radius: 50%;
	}
	// .analyst-table-analyst-blacklist__name
	&__name {
		padding: 0px 0px 0px 16px;
	}
} //========================================================================================================================================================
.page_black-analyst {
	@media (max-width: $md1+px) {
		.page__sidebar.sidebar {
			display: none;
		}
	}
	@media (max-width: $md3+px) {
		.page__sidebar.sidebar {
			display: grid;
			gap: 16px;
		}
		.sidebar__item.top-analysts {
			.top-analysts__header {
				display: block;
				&:not(:last-child) {
					margin: 0px 0px 8px 0px;
				}
			}
		}
		.sidebar__item.top-10-bk {
			.top-10-bk__header {
				display: block;
				&:not(:last-child) {
					margin: 0px 0px 8px 0px;
				}
			}
		}
		.sidebar__item.day-mach {
			display: none;
		}
	}
}

//! black-analyst
//? unscrupulous-analyst
.unscrupulous-analyst {
	display: grid;
	gap: 32px;
	@media (max-width: $md1+px) {
		gap: 24px;
	}
	// .unscrupulous-analyst__header
	&__header {
	}
	// .unscrupulous-analyst__mobile-header
	&__mobile-header {
		display: none;
		@media (max-width: $md2+px) {
			display: block;
		}
		.item-mobile-analyst-blacklist {
			@media (min-width: $md3+px) {
				&__body {
					padding: 32px;
					gap: 24px;
				}
				&__header {
					grid-template-columns: 100px 1fr;
				}
				&__avatar {
					width: 100px;
					height: 100px;
					flex: 0 0 100px;
				}
				&__name {
					font-size: 24px;
				}
				&__block-item {
					.rating {
						gap: 12px;
						&__item {
							width: 24px;
							height: 24px;
							img {
								width: 24px;
							}
						}
						&__value {
							font-size: 24px;
						}
					}
				}
				&__views {
					font-size: 24px;
					&::before {
						width: 24px;
						height: 24px;
						flex: 0 0 24px;
						font-size: 24px;
					}
				}
				&__reviews {
					font-size: 24px;
					&::before {
						width: 24px;
						height: 24px;
						flex: 0 0 24px;
						font-size: 24px;
					}
				}
				&__footer {
					justify-self: center;
				}
				&__button {
					font-size: 24px;
					&.button {
						padding: 10px 40px;
						min-width: 300px;
					}
				}
			}
		}
		.big-items-nalyst-blacklist {
			@media (min-width: $md3+px) {
				.big-items-nalyst-blacklist {
					&__label {
						font-size: 24px;
						line-height: 120%;
					}
					&__status {
						width: 35px;
						height: 35px;
					}
					&__status._item-status {
						&::before {
							width: 35px;
							height: 35px;
							font-size: 35px;
						}
					}
					&__reliable {
						font-size: 24px;
						padding: 8px 12px;
					}
				}
			}
		}
	}
	// .unscrupulous-analyst__overview
	&__overview {
		min-width: 0;
	}
	// .unscrupulous-analyst__message
	&__message {
	}
	// .unscrupulous-analyst__footer
	&__footer {
		justify-content: flex-end;
		display: inline-flex;
		@media (max-width: $md3+px) {
			display: grid;
			gap: 16px;
			justify-content: stretch;
		}
	}
	// .unscrupulous-analyst__button
	&__button {
		&:not(:last-child) {
			margin: 0px 32px 0px 0px;
		}
		@media (max-width: $md3+px) {
			&:not(:last-child) {
				margin: 0px 0px 0px 0px;
			}
		}
	}
}
// header-unscrupulous-analyst
.header-unscrupulous-analyst {
	display: flex;
	padding: 24px;
	@extend %element-bg;
	border-radius: 4px;
	@media (max-width: $md2+px) {
		display: none;
	}
	// .header-unscrupulous-analyst__avatar
	&__avatar {
		width: 88px;
		height: 88px;
		flex: 0 0 88px;
		border-radius: 50%;
		overflow: hidden;
	}
	// .header-unscrupulous-analyst__body
	&__body {
		padding: 0px 0px 0px 24px;
		width: 100%;
	}
	// .header-unscrupulous-analyst__top
	&__top {
		display: flex;
		align-items: center;
		justify-content: space-between;
		&:not(:last-child) {
			margin: 0px 0px 8px 0px;
		}
	}
	// .header-unscrupulous-analyst__name
	&__name {
		margin: 0px 15px 0px 0px;
		@extend ._headline-5;
		flex: 1 1 auto;
	}
	// .header-unscrupulous-analyst__link
	&__link {
		width: 24px;
		height: 24px;
		flex: 0 0 24px;
	}
	// .header-unscrupulous-analyst__items
	&__items {
		display: grid;
		align-items: center;
		grid-template-columns: repeat(7, 1fr);
		gap: 16px;
	}
	// .header-unscrupulous-analyst__item
	&__item {
	}
	// .header-unscrupulous-analyst__label
	&__label {
		text-align: center;
		&:not(:last-child) {
			margin: 0px 0px 4px 0px;
		}
	}
	// .header-unscrupulous-analyst__value
	&__value {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// .header-unscrupulous-analyst__reliability
	&__reliability {
		padding: 0px 10px;
		background-color: $fail;
		border-radius: 4px;
		width: 100%;
		text-align: center;
	}
	// .header-unscrupulous-analyst__views
	&__views {
		color: inherit;
		display: flex;
		align-items: center;
		cursor: pointer;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $link;
			}
		}
		&::before {
			margin: 0px 6px 0px 0px;
		}
	}
	// .header-unscrupulous-analyst__reviews
	&__reviews {
		color: inherit;
		display: flex;
		align-items: center;
		cursor: pointer;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $link;
			}
		}
		&::before {
			margin: 0px 6px 0px 0px;
		}
	}
}
//? overview-unscrupulous-analyst
.overview-unscrupulous-analyst {
	display: grid;
	gap: 24px;
	@media (max-width: $md3+px) {
		gap: 16px;
	}
	// .overview-unscrupulous-analyst__content
	&__content {
		display: grid;
		gap: 24px;
		@media (max-width: $md3+px) {
			gap: 16px;
		}
	}
	// .overview-unscrupulous-analyst__label
	&__label {
	}
	// .overview-unscrupulous-analyst__text
	&__text {
	}
	// .overview-unscrupulous-analyst__slider
	&__slider {
		min-width: 0;
	}
}
// slider-unscrupulous-analyst
.slider-unscrupulous-analyst {
	position: relative;
	border-radius: 4px;
	overflow: hidden;
	// .slider-unscrupulous-analyst__body
	&__body {
	}
	// .slider-unscrupulous-analyst__slide
	&__slide {
	}
	// .slider-unscrupulous-analyst__footer
	&__footer {
		min-width: 0;
		margin: -64px 0px 0px 0px;
		display: flex;
		flex-direction: row-reverse;
		min-height: 64px;
		align-items: center;
		background: rgba(3, 14, 27, 0.9);
		padding: 16px;
		position: relative;
		z-index: 2;

		@media (max-width: $md2+px) {
			display: block;
			text-align: center;
		}
		@media (max-width: $md3+px) {
			margin: 0;
			background-color: $bg-03;
			display: grid;
			gap: 5px;
			padding: 16px 8px;
		}
	}
	// .slider-unscrupulous-analyst__controls
	&__controls {
		position: absolute;
		top: 42%;
		left: 0;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0px 24px;
		@media (max-width: $md2+px) {
			display: none;
		}
	}
	// .slider-unscrupulous-analyst__arrow
	&__arrow {
		width: 32px;
		height: 32px;

		&::before {
			color: #fff;
			width: 32px;
			height: 32px;
			flex: 0 0 32px;
			font-size: 30px;
		}
		// .slider-unscrupulous-analyst__arrow_prev
		&_prev {
			transform: rotate(-180deg);
		}
		// .slider-unscrupulous-analyst__arrow_next
		&_next {
		}
	}
}
.slide-unscrupulous-analyst {
	// .slide-unscrupulous-analyst__image
	&__image {
		padding: 0px 0px 56.25% 0px;
		@media (max-width: 1200px) {
			padding: 0px 0px 63.158% 0px;
		}
	}
}
// footer-slider-unscrupulous-analyst
.footer-slider-unscrupulous-analyst {
	min-width: 0;
	// .footer-slider-unscrupulous-analyst__body
	&__body {
	}
	// .footer-slider-unscrupulous-analyst__slide
	&__slide {
		display: flex;
		align-items: center;
		@media (max-width: $md2+px) {
			justify-content: center;
		}
	}
	// .footer-slider-unscrupulous-analyst__text
	&__text {
		@extend ._caption;
		@extend ._secondary;
		padding: 0px 25px 0px 0px;
		@media (max-width: $md2+px) {
			padding: 0;
		}
	}
	// .footer-slider-unscrupulous-analyst__controls
	&__controls {
		display: flex;
		align-items: center;
		@media (max-width: $md2+px) {
			justify-content: center;
		}
	}
	// .footer-slider-unscrupulous-analyst__arrow
	&__arrow {
		// .footer-slider-unscrupulous-analyst__arrow_prev
		&_prev {
		}
		// .footer-slider-unscrupulous-analyst__arrow_next
		&_next {
		}
		@media (max-width: $md3+px) {
			&.button {
				min-height: 24px;
			}
		}
	}
	// .footer-slider-unscrupulous-analyst__dotts
	&__dotts {
		@media (max-width: $md2+px) {
			&._dotts {
				display: flex;
				margin: 0px -12.5px;
				flex-wrap: wrap;
				justify-content: center;
				gap: 0;
				.swiper-pagination-bullet {
					margin: 3px 12.5px;
				}
			}
		}
	}
}
//?  message-unscrupulous-analyst
.message-unscrupulous-analyst {
	border-radius: 4px;
	background-color: $bg-03;
	padding: 24px;
	display: flex;
	align-items: center;
	@media (max-width: $md3+px) {
		padding: 16px;
	}
	// . message-unscrupulous-analyst__icon
	&__icon {
		width: 32px;
		height: 32px;
		flex: 0 0 32px;
		&::before {
			width: 32px;
			height: 32px;
			font-size: 32px;
			color: $fail;
		}
	}
	// . message-unscrupulous-analyst__text
	&__text {
		padding: 0px 0px 0px 16px;
		> a {
			color: $link;
			@media (any-hover: hover) {
				&:hover {
					text-decoration: underline;
				}
			}
		}
		@media (max-width: $md1+px) {
			br {
				display: none;
			}
		}
		@media (max-width: $md4+px) {
			padding: 0px 0px 0px 14px;
		}
	}
}
//?
