//====================================================================================================
._footer-title {
	color: $secondary;
	opacity: 0.75;
	margin: 0px 0px 15px 0px;
}
//====================================================================================================
.footer {
	// .footer__container
	&__container {
	}
	// .footer__main
	&__main {
		padding: 32px;
		empty-cells: show;
		@extend %element-bg-hover;
		grid-auto-flow: column;
		display: grid;
		gap: 32px;
		grid-template-columns: math.div(792, 1373) * 100% math.div(549, 1373) * 100%;
		grid-template-rows: auto auto;
	}
	// .footer__menu
	&__menu {
	}
	// .footer__info
	&__info {
		grid-row: span 2;
	}
	// .footer__copy
	&__copy {
		align-self: end;
	}
}
.menu-footer {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 24px;
	// .menu-footer__column
	&__column {
	}
	// .menu-footer__title
	&__title {
		margin: 0px 0px 24px 0px;
	}
	// .menu-footer__list
	&__list {
		li {
			&:not(:last-child) {
				margin: 0px 0px 16px 0px;
			}
		}
	}
	// .menu-footer__link
	&__link {
		color: inherit;
		@extend ._body_small;
	}
}
.info-footer {
	display: grid;
	row-gap: 48px;
	column-gap: 23px;
	grid-template-columns: math.div(244, 549) * 100% math.div(278, 549) * 100%;
	// .info-footer__section
	&__section {
		&_big {
			grid-column: span 2;
		}
	}
	// .info-footer__title
	&__title {
	}
	// .info-footer__social
	&__social {
		max-width: 160px;
	}
	// .info-footer__contants
	&__contants {
	}
	// .info-footer__docs
	&__docs {
	}
	// .info-footer__apps
	&__apps {
	}
	// .info-footer__qr
	&__qr {
	}
}
.contants-footer {
	display: grid;
	gap: 16px;
	// .contants-footer__link
	&__link {
		color: inherit;
		display: flex;
		align-items: center;
		&::before {
			content: "";
			flex: 0 0 18px;
			height: 18px;
			margin: 0px 10px 0px 0px;
		}
		// .contants-footer__link_phone
		&_phone {
			&::before {
				background: url("../img/icons/support.svg") center / 14px no-repeat;
			}
		}
		// .contants-footer__link_tg
		&_tg {
			&::before {
				background: url("../img/icons/social/01.svg") center / 14px no-repeat;
			}
		}
	}
}
.docs-footer {
	display: grid;
	align-items: center;
	column-gap: 23px;
	grid-template-columns: math.div(244, 549) * 100% math.div(278, 549) * 100%;
	// .docs-footer__items
	&__items {
		display: grid;
		grid-auto-flow: column;
		gap: 16px;
	}
	// .docs-footer__item
	&__item {
	}
	// .docs-footer__text
	&__text {
	}
}
.apps-footer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 18px;
	column-gap: 16px;
	// .apps-footer__text
	&__text {
		grid-column: span 2;
	}
	// .apps-footer__link
	&__link {
		img {
			max-width: 100%;
		}
	}
}
.qr-footer {
	display: grid;
	grid-auto-flow: column;
	gap: 18px;
	align-items: center;
	// .qr-footer__image
	&__image {
	}
	// .qr-footer__text
	&__text {
	}
}

.copy-footer {
	// .copy-footer__logos
	&__logos {
		margin: 0px 0px 40px 0px;
	}
	// .copy-footer__text
	&__text {
		color: $bg-06;
		opacity: 0.5;
	}
}
.logos-footer {
	display: inline-grid;
	grid-auto-flow: column;
	gap: 33px;
	// .logos-footer__item
	&__item {
		@extend ._body_small;
		display: inline-grid;
		grid-auto-flow: column;
		gap: 16px;
		align-items: center;
		color: inherit;
	}
}
