.page__content.forecasts-center {
	@media (max-width: $md1+px) {
		gap: 0;
	}
}
._mobile-filter-items {
	@media (min-width: $md1+px) {
		display: none;
	}
}
.page__sidebar_forecasts-center {
	.sidebar__item.top-10-bk {
		display: none;
	}
	@media (max-width: $md1+px) {
		.sidebar__item.top-analysts {
			display: none;
		}
		.sidebar__item.day-mach {
			display: none;
		}
	}
	@media (max-width: $md2+px) {
		.sidebar__item.top-analysts {
			display: block;
			padding: 34px 0px 0px 0px;
		}
		.sidebar__item.day-mach {
			display: grid;
		}
	}
	@media (max-width: $md3+px) {
		gap: 16px !important;
		.top-analysts__items {
			.top-analysts__item {
				&:not(:last-child) {
					margin: 0px 0px 8px 0px;
				}
			}
		}
		.top-analysts__header {
			display: block;
		}
		.top-analysts__title {
			font-size: 16px;
		}
		.sidebar__item.top-10-bk {
			display: block;
			.top-10-bk__header {
				display: block;
				margin: 0px 0px 8px 0px;
				.top-10-bk__title {
					font-size: 16px;
				}
			}
		}
	}
}
.page__row_forecasts-center-banner {
	.banner-social__mobile-banner {
		display: none;
	}
	@media (max-width: $md1+px) {
		display: grid !important;
		grid-template-columns: 1fr 288px !important;
		align-items: stretch !important;
		.banner-social__banner {
			position: relative;
			padding: 0px 0px 11% 0px;
			img {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				object-fit: cover;
			}
		}
	}
	@media (max-width: $md2+px) {
		grid-template-columns: auto !important;
	}
	@media (max-width: $md3+px) {
		.banner-social__banner {
			display: none;
		}
		.banner-social__mobile-banner {
			display: block;
			width: 304px;
			height: 304px;
			position: relative;
			margin: 0px auto;
			img {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				object-fit: cover;
			}
		}
	}
}
.items-news_forecasts-center {
	@media (max-width: 1271px) {
		.item-news {
			&:first-child {
				display: none;
			}
		}
	}
	@media (max-width: $md2+px) {
		.items-news {
			grid-template-rows: minmax(320px, 1fr);
			grid-auto-rows: auto;
		}
		.item-news_2-r {
			grid-row: span 1;
		}
		.item-news {
			&:first-child {
				display: flex;
			}
		}
	}
	@media (max-width: $md3+px) {
		gap: 8px !important;
	}
}
.forecasts-center {
	// .forecasts-center__filter
	&__filter {
	}
	// .forecasts-center__items
	&__items {
		display: grid;
		gap: 8px;
		@media (max-width: $md1+px) {
			padding: 24px 0px 0px 0px;
		}
	}
}
.filter-forecasts-center {
	display: flex;
	align-items: center;
	@media (max-width: $md2+px) {
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		gap: 16px;
	}
	@media (max-width: $md3+px) {
		grid-template-columns: auto;
	}
	// .filter-forecasts-center__menu
	&__menu {
		flex: 1 1 auto;
		@media (max-width: $md2+px) {
			grid-column: span 6;
		}
		@media (max-width: $md3+px) {
			grid-column: span 1;
		}
	}
	// .filter-forecasts-center__calendar
	&__calendar {
		width: 256px;
		margin: 0px 0px 0px 16px;
		@media (max-width: $md2+px) {
			grid-column: span 3;
			width: auto;
			margin: 0px 0px 0px 0px;
		}
		@media (max-width: $md3+px) {
			grid-column: span 1;
		}
	}
	&__mobile-filter {
		flex: 0 0 248px;
		@media (max-width: $md2+px) {
			grid-column: span 3;
		}
		@media (max-width: $md3+px) {
			grid-column: span 1;
		}
	}
}
.items-forecasts {
	display: grid;
	gap: 16px;
	// .items-forecasts__list
	&__list {
		display: grid;
		gap: 8px;
		@media (max-width: $md2+px) {
			gap: 16px;
		}
		@media (max-width: $md4+px) {
			gap: 8px;
		}
	}

	// .items-forecasts__footer
	&__footer {
		text-align: center;
	}
}

.item-forecast {
	// .item-forecast__header
	&__header {
	}
	// .item-forecast__body
	&__body {
		display: flex;
		padding: 16px;
		align-items: center;
		@extend %element-bg;
		@media (max-width: $md2+px) {
			flex-direction: column;
			align-items: stretch;
			padding: 0px;
			background: linear-gradient(180deg, rgba(3, 14, 27, 0.6) 0%, #041324 0.01%, #030e1b 100%);
		}
		@media (max-width: $md3+px) {
			padding: 0;
		}
	}
	// .item-forecast__game
	&__game {
		@media (max-width: $md2+px) {
			display: none;
		}
	}
	// .item-forecast__content
	&__content {
		padding: 0px 10px;
		flex: 1 1 auto;
		display: inline-grid;
		grid-auto-flow: column;
		align-items: center;
		justify-content: center;
		gap: 8px;
		@media (max-width: $md2+px) {
			display: none;
		}
	}
	// .item-forecast__name
	&__name {
		color: inherit;
	}
	// .item-forecast__logo
	&__logo {
		width: 32px;
		height: 32px;
		padding: 3px;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			max-height: 100%;
			max-width: 100%;
		}
	}
	// .item-forecast__value
	&__value {
	}
	// .item-forecast__time
	&__time {
		padding: 0px 11px;
		text-align: center;
	}

	// .item-forecast__info
	&__info {
		width: 40px;
		text-align: center;
	}

	// .item-forecast__counter
	&__counter {
		padding: 0px 6px;
		display: inline-grid;
		grid-template-columns: 20px auto 20px;
		align-items: center;
		gap: 0px;
		&_big {
			padding: 0px 0px;
		}
		span {
			flex: 0 0 20px;
			text-align: center;
		}
	}

	// .item-forecast__actions
	&__actions {
		display: grid;
		align-items: center;
		grid-auto-flow: column;
		gap: 16px;

		@media (max-width: $md2+px) {
			align-self: center;
			grid-auto-flow: row;
			padding: 0px 16px 16px 16px;
		}
		@media (max-width: $md3+px) {
			text-align: center;
			width: 100%;
			gap: 8px;
			//padding: 0px 9px 9px 9px;
		}
	}
	// .item-forecast__quantity
	&__quantity {
		text-align: center;
		@media (max-width: $md2+px) {
			display: none;
		}
	}
	&__mobile-quantity {
		display: none;
		@media (max-width: $md2+px) {
			display: block;
			font-size: 14px;
			line-height: 110%;
			color: $link;
		}

		@media (max-width: $md3+px) {
			font-size: 10px;
			line-height: 14px;
			margin: 0px 0px 8px 0px;
		}
	}
	// .item-forecast__label
	&__label {
	}
	// .item-forecast__button
	&__button {
		text-align: center;
		@media (max-width: 1200px){
			  padding: 0px 10px;
		}
		@media (max-width: $md3+px) {
			align-self: stretch;
		}
	}
	// .item-forecast__more
	&__more {
		transition: all 0.3s ease 0s;
		transform: rotate(90deg);
		cursor: pointer;
		&::before {
			color: $link;
		}
		&._active {
			transform: translate(1px, 0) rotate(-90deg);
		}
		@media (max-width: $md2+px) {
			width: 24px;
			height: 24px;
			margin: 0px auto;
		}
		@media (max-width: $md3+px) {
			width: 20px;
			height: 20px;
			&::before {
				width: 20px;
				height: 20px;
				flex: 0 0 20px;
				font-size: 20px;
			}
		}
	}
	// .item-forecast__results
	&__results {
		background-color: $bg-03;
		padding: 16px;
		border-radius: 0 0 4px 4px;
		@media (max-width: $md2+px) {
		}
		@media (max-width: $md3+px) {
			padding: 8px;
		}
	}

	.item-forecast__mobile-content {
		display: none;
		@media (max-width: $md2+px) {
			display: block;
		}
		.match-item__top {
			background: none;
		}
		.main-match-item {
			grid-template: auto auto/1fr auto auto 1fr;
			@media (max-width: $md3+px) {
				grid-template: auto auto/1fr 47.5px 47.5px 1fr;
			}
		}
		.main-match-item__label {
			font-size: 18px;
			@media (max-width: $md3+px) {
				font-size: 12px;
			}
			@media (max-width: $md4+px) {
				font-size: 10px;
			}
		}
		.main-match-item__timer {
			font-size: 28px;
			@media (max-width: $md3+px) {
				font-size: 14px;
			}
			@media (max-width: $md4+px) {
				font-size: 12px;
			}
		}
		.match-item__header {
			padding: 16px;
			background-color: #171f32;
			&_live {
				background-color: #280716;
			}
		}
		.main-match-item__info {
			@media (max-width: $md2+px) {
				justify-content: center;
				.main-match-item__value {
					margin: 0px 6px 0px 0px;
				}
				&_rev {
					.main-match-item__value {
						margin: 0px 0px 0px 6px;
					}
				}
			}
			@media (max-width: $md3+px) {
				.main-match-item__value {
					margin: 0px 2px 0px 0px;
				}
				&_rev {
					.main-match-item__value {
						margin: 0px 0px 0px 2px;
					}
				}
			}
		}
		.match-item__game {
			margin: 0px 0px 4px 0px;
			font-size: 18px;
			text-align: center;
			@media (max-width: $md3+px) {
				font-size: 12px;
			}
		}
		.main-match-item__name {
			font-size: 22px;
			@media (max-width: $md3+px) {
				font-size: 14px;
			}
		}
		.match-item__top {
			padding: 0;
		}

		.main-match-item {
			padding: 16px;
			@media (max-width: $md3+px) {
				padding: 9px 14px;
			}
		}
	}
}
.results-item-forecast {
	display: grid;
	grid-auto-flow: column;
	align-items: start;
	justify-content: center;
	gap: 8px;
	@media (max-width: $md2+px) {
		grid-auto-flow: row;
		justify-content: stretch;
	}
	// .results-item-forecast__table
	&__table {
		display: grid;
		grid-template-columns: 36px 96px 36px;
		grid-template-rows: 21px;
		grid-auto-rows: 21px;
		row-gap: 2px;
		@media (max-width: $md2+px) {
			justify-content: space-between;
			grid-template-columns: 36px 1fr 36px;
		}
	}
	// .results-item-forecast__value
	&__value {
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $bg-02;
	}
	// .results-item-forecast__label
	&__label {
		background-color: $bg-04;
		text-align: center;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// .results-item-forecast__results
	&__results {
		display: inline-grid;
		grid-auto-flow: column;
		align-items: center;
		justify-content: center;
		gap: 8px;
	}
	&__blue,
	&__yellow {
		color: $primary-dark;
		height: 16px;
		width: 24px;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 4px;
		@extend ._caption_small;
	}
	// .results-item-forecast__blue
	&__blue {
		background-color: $link;
	}
	// .results-item-forecast__yellow
	&__yellow {
		background-color: $gold;
	}
}
.header-item-forecast {
	display: flex;
	align-items: center;
	height: 32px;
	background-color: $bg-03;
	padding: 0px 10px;
	justify-content: space-between;
	@media (max-width: $md2+px) {
		display: none;
	}
	&_live {
		background-color: $highlight-bg;
	}
	// .header-item-forecast__main
	&__main {
		padding: 0px 16px 0px 0px;
		display: inline-grid;
		grid-auto-flow: column;
		align-items: center;
		gap: 16px;
	}
	// .header-item-forecast__rating
	&__rating {
		font-weight: 400;
	}
	// .header-item-forecast__name
	&__name {
	}
	// .header-item-forecast__grid
	&__grid {
		color: $link;
	}
	// .header-item-forecast__info
	&__info {
	}
	// .header-item-forecast__time
	&__time {
		display: inline-grid;
		grid-auto-flow: column;
		align-items: center;
		gap: 8px;
		align-items: center;
		span {
			width: 8px;
			height: 8px;
			background-color: $fail;
			border-radius: 50%;
		}
	}
}
//========================================================================================================================================================
.news-page {
	display: grid;
	gap: 16px;
	// .news-page__title
	&__title {
	}
	// .news-page__button
	&__button {
		justify-self: start;
		@media (max-width: $md3+px) {
			justify-self: center;
		}
	}
}
//========================================================================================================================================================
.text-page {
	display: grid;
	gap: 16px;
	// .text-page__title
	&__title {
	}
	// .text-page__body
	&__body {
		display: flex;
		align-items: flex-start;
		@media (max-width: $md3+px) {
			flex-direction: column;
		}
	}
	// .text-page__content
	&__content {
		flex: 1 1 auto;
	}
	// .text-page__side
	&__side {
		flex: 0 0 320px;
		margin: 0px 0px 0px 32px;
		@media (max-width: 1200px) {
			display: none;
		}
		@media (max-width: $md3+px) {
			display: block;
			margin: 0px auto;
			.text-page__banner {
				position: relative;
				height: 304px;
				width: 304px;
			}
			img {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				object-fit: cover;
			}
		}
	}
	// .text-page__banner
	&__banner {
	}
}
