//====================================================================================================
.mainslider {
	position: relative;
	// .mainslider__body
	&__body {
	}
	// .mainslider__slide
	&__slide {
		position: relative;
		color: inherit;
	}
	// .mainslider__image
	&__image {
		padding: 0px 0px math.div(576, 1024) * 100% 0px;
		border-radius: 4px;
		overflow: hidden;
		min-height: 576px;
		@media (max-width: $md2+px) {
			min-height: auto;
		}
		@media (max-width: $md3+px) {
			padding: 0px 0px 75% 0px;
		}
		@media (max-width: $md4+px) {
			padding: 0px 0px 100% 0px;
		}
	}
	// .mainslider__title
	&__title {
		position: absolute;
		bottom: 0;
		left: 0;
		padding: 0px 40px 80px 40px;
		background: linear-gradient(180deg, rgba(3, 14, 27, 0) 0%, #030e1b 100%);
		@media (max-width: $md3+px) {
			padding: 16px 25px 60px 25px;
			background: linear-gradient(180deg, rgba(3, 14, 27, 0) -125%, #030e1b 100%);
		}
		@media (max-width: $md4+px) {
			padding: 16px 16px 50px 16px;
		}
	}
	// .mainslider__footer
	&__footer {
		display: grid;
		grid-auto-flow: column;
		grid-template-columns: 1fr auto;
		gap: 65px;
		align-items: center;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		padding: 0px 40px 40px 40px;
		@media (max-width: $md2+px) {
			padding: 0px 20px 20px 20px;
			gap: 45px;
		}
		@media (max-width: $md3+px) {
			gap: 25px;
		}
	}
	// .mainslider__controls
	&__controls {
		display: grid;
		gap: 16px;
		grid-template-columns: auto 1fr auto;
		grid-auto-flow: column;
		align-items: center;
		@media (max-width: $md4+px) {
			gap: 10px;
		}
	}
	// .mainslider__arrow
	&__arrow {
		// .mainslider__arrow_prev
		&_prev {
		}
		// .mainslider__arrow_next
		&_next {
		}
	}
	// .mainslider__dotts
	&__dotts {
		display: grid;
		gap: 16px;
		grid-auto-flow: column;
		@media (max-width: $md4+px) {
			gap: 8px;
		}
		.swiper-pagination-bullet {
			background-color: $secondary-50;
			height: 2px;
			border-radius: 4px;
		}
		.swiper-pagination-bullet-active {
			position: relative;
			span {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background-color: $secondary;
				animation: main-bullet-active linear;
				&::after {
					content: "";
					position: absolute;
					width: 4px;
					height: 4px;
					top: 50%;
					transform: translate(0px, -50%);
					left: 100%;
					border-radius: 50%;
					background-color: $secondary;
				}
			}
			@keyframes main-bullet-active {
				0% {
					width: 0%;
				}
				100% {
					width: 100%;
				}
			}
		}
	}
	// .mainslider__info
	&__info {
	}
}
.info-mainslider {
	display: grid;
	grid-auto-flow: column;
	gap: 16px;
	align-items: center;
	// .info-mainslider__item
	&__item {
	}
}
//====================================================================================================
.top-analysts {
	counter-reset: item;
	// .top-analysts__header
	&__header {
		@media (max-width: $md3+px) {
			display: none;
		}
	}
	// .top-analysts__title
	&__title {
	}
	// .top-analysts__filter
	&__filter {
	}
	// .top-analysts__items
	&__items {
	}
	// .top-analysts__item
	&__item {
		&:not(:last-child) {
			margin: 0px 0px 18px 0px;
		}
	}
	// .top-analysts__footer
	&__footer {
		display: grid;
		grid-auto-flow: column;
		gap: 16px;
		padding: 16px 0px 0px 0px;
	}
	// .top-analysts__button
	&__button {
	}
}
.top-analyst {
	display: grid;
	color: inherit;
	align-items: center;
	padding: 8px 16px;
	border-radius: 4px;
	overflow: hidden;
	grid-template-columns: 24px 40px 1fr auto;
	gap: 8px;
	@extend %element-bg;
	// .top-analyst__number
	&__number {
		&::before {
			@extend ._body_small;
			counter-increment: item;
			content: counter(item);
		}
	}
	&:hover {
		@extend %element-bg-hover;
		.top-analyst__title {
			color: $link;
		}
	}
	// .top-analyst__image
	&__image {
		@extend ._ibg;
		height: 40px;
		border-radius: 4px;
		overflow: hidden;
	}
	// .top-analyst__body
	&__body {
		display: grid;
		gap: 4px;
	}
	// .top-analyst__title
	&__title {
		transition: color 0.3s ease 0s;
		color: inherit;
	}
	// .top-analyst__info
	&__info {
	}
	// .top-analyst__value
	&__value {
	}
}
//========================================================================================================================================================
.daynews {
	// .daynews__header
	&__header {
	}
	// .daynews__items
	&__items {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		column-gap: 32px;
		row-gap: 8px;
		align-items: start;
		@media (max-width: $md3+px) {
			column-gap: 24px;
		}
		@media (max-width: 650px) {
			grid-template-columns: 1fr;
		}
	}
}
.item-daynews {
	@extend %element-bg-hover;
	display: flex;
	align-items: flex-start;
	color: inherit;
	border-radius: 4px;
	overflow: hidden;
	&:hover {
		@extend %element-bg;
		.item-daynews__title {
			color: $link;
		}
	}
	// .item-daynews__image
	&__image {
		flex: 0 0 85px;
		height: 85px;
		position: relative;
		@media (max-width: $md4+px) {
			flex: 0 0 64px;
			height: 64px;
		}
	}
	// .item-daynews__pic
	&__pic {
		border-radius: 4px;
	}
	&__icon {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 24px;
		height: 24px;
		border-radius: 4px;
		background: $important;
		display: flex;
		justify-content: center;
		align-items: center;
		&::before {
			color: $bg-00;
			font-size: 16px;
		}
	}
	// .item-daynews__body
	&__body {
		padding: 8.5px 20px;
		@media (max-width: $md4+px) {
			padding: 4px 16px;
		}
	}
	// .item-daynews__title
	&__title {
		color: inherit;
		transition: color 0.3s ease 0s;
		display: inline-block;
		margin: 0px 0px math.div(4px, 14px) * 1em 0px;
	}
	// .item-daynews__footer
	&__footer {
		display: flex;
	}
	// .item-daynews__time
	&__time {
		flex: 1 1 auto;
		color: $secondary;
	}
}
//========================================================================================================================================================
.home-news {
	// .home-news__folter
	&__filter {
		margin: 0px 0px 16px 0px;
		@media (max-width: $md3+px) {
			display: none;
		}
	}
	// .home-news__slider
	&__slider {
	}
	// .home-news__footer
	&__footer {
		display: flex;
		height: 40px;
		margin: 16px 0px 0px 0px;
		position: relative;
		@media (max-width: $md3+px) {
			flex-direction: column;
			height: auto;
			margin: 8px 0px 0px 0px;
		}
	}
	// .home-news__controls
	&__controls {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1 1 auto;
		padding: 0px 10px;
		@media (max-width: $md3+px) {
			&:not(:last-child) {
				margin: 0px 0px 8px 0px;
			}
		}
	}
	// .home-news__dotts
	&__dotts {
		padding: 0px 16px;
	}
	// .home-news__all
	&__all {
		position: absolute;
		right: 0;
		top: 0;
		@media (max-width: $md3+px) {
			position: relative;
		}
	}
}
//========================================================================================================================================================
.day-mach {
	height: 414px;
	position: relative;
	border-radius: 4px;
	overflow: hidden;
	border: 2px solid $important;
	padding: 16px;
	display: grid;
	align-content: center;
	// .day-mach__bg
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		&::after {
			content: "";
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			background-color: $bg-00-90;
		}
	}
	// .day-mach__header
	&__header {
		position: relative;
		z-index: 2;
		display: grid;
		gap: 8px;
		margin: 0px 0px 10px 0px;
		text-align: center;
	}
	// .day-mach__rating
	&__rating {
		margin: 0px auto;
		font-size: 14px;
		color: $secondary;
	}

	// .day-mach__title
	&__title {
	}
	// .day-mach__game
	&__game {
		justify-content: center;
	}
	// .day-mach__text
	&__text {
	}
	// .day-mach__body
	&__body {
		position: relative;
		z-index: 2;
		margin: 0px 0px 24px 0px;
	}
	// .day-mach__main
	&__main {
	}
	// .day-mach__teams
	&__teams {
	}
	// .day-mach__button
	&__button {
		justify-self: stretch;
		&:not(:last-child) {
			margin: 0px 0px 16px 0px;
		}
	}
}
.main-day-mach {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin: 0px 0px 3px 0px;
	// .main-day-mach__logo
	&__logo {
	}
	// .main-day-mach__start
	&__start {
		padding: 0px 5px;
		align-self: center;
	}
	// .main-day-mach__label
	&__label {
	}
	// .main-day-mach__timer
	&__timer {
	}
}
.teams-day-mach {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	// .teams-day-mach__item
	&__item {
		&:first-child {
			text-align: right;
		}
	}
	// .teams-day-mach__name
	&__name {
		margin: 0px 0px 10px 0px;
	}
	// .teams-day-mach__value
	&__value {
	}
}
//====================================================================================================
.top-10-bk {
	// .top-bk__header
	&__header {
		@media (max-width: $md3+px) {
			display: none;
		}
	}
	// .top-bk__title
	&__title {
	}
	// .top-bk__filter
	&__filter {
	}
	// .top-bk__items
	&__items {
	}
	// .top-bk__item
	&__item {
		&:not(:last-child) {
			margin: 0px 0px 9px 0px;
		}
	}
	// .top-bk__footer
	&__footer {
		display: grid;
		grid-auto-flow: column;
		gap: 16px;
		padding: 16px 0px 0px 0px;
	}
	// .top-bk__button
	&__button {
	}
}
.top-bk {
	display: grid;
	align-items: center;
	padding: 16px;
	grid-template-columns: 80px 1fr auto;
	gap: 8px;
	min-height: 56px;
	@extend %element-bg;
	border-radius: 4px;
	overflow: hidden;
	&:hover {
		@extend %element-bg-hover;
	}
	// .top-bk__image
	&__image {
		img {
			margin: 0px auto;
			max-width: 100%;
			max-height: 30px;
		}
	}
	// .top-analyst__body
	&__body {
		display: grid;
		gap: 4px;
	}
	// .top-analyst__info
	&__info {
		justify-content: center;
	}
	// .top-analyst__value
	&__value {
	}
}
//========================================================================================================================================================
.streams {
	display: flex;
	min-width: 0;
	@media (max-width: $md1+px) {
		margin-bottom: 24px;
	}
	@media (max-width: $md2+px) {
		display: block;
	}
	// .streams__banner
	&__banner {
		flex: 0 0 320px;
		+ .streams__content {
			padding: 0px 0px 0px 32px;
			.streams__wrapper {
				grid-template-columns: repeat(2, 1fr);
			}
		}
		@media (max-width: $md1+px) {
			flex: 0 0 288px;
			position: relative;
			img {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				object-fit: cover;
			}
			+ .streams__content {
				padding: 0px 0px 0px 24px;
			}
		}
		@media (max-width: $md2+px) {
			width: 500px;
			height: 500px;
			margin: 0px auto 24px auto;
			text-align: center;
			position: relative;
			img {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				object-fit: cover;
			}
			+ .streams__content {
				padding: 0px 0px 0px 0px;
			}
		}
		@media (max-width: $md3+px) {
			width: 320px;
			height: 320px;
		}
		@media (max-width: 320px) {
			margin: 0px -8px 24px -8px;
		}
	}
	// .streams__content
	&__content {
		flex: 1 1 auto;
		min-width: 0;
		min-height: 0;
	}
	// .streams__items
	&__items {
		@media (max-width: $md3+px) {
			overflow: hidden;
			min-width: 0;
			min-height: 0;
		}
	}
	&__wrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 32px;
		@media (max-width: $md1+px) {
			gap: 24px;
		}
		@media (max-width: $md3+px) {
			width: 100%;
			height: 100%;
			box-sizing: content-box;
			display: flex;
			position: relative;
			gap: 0;
		}
	}
	// .streams__controls
	&__controls {
		display: none;
		@media (max-width: $md3+px) {
			display: flex;
			align-items: center;
			justify-content: center;
			flex: 1 1 auto;
			padding: 16px 10px 0px 10px;
			&:not(:last-child) {
				margin: 0px 0px 16px 0px;
			}
		}
	}

	// .streams__arrow
	&__arrow {
		// .streams__arrow_prev
		&_prev {
		}
		// .streams__arrow_next
		&_next {
		}
	}
	// .streams__dotts
	&__dotts {
		padding: 0px 16px;
	}
	// .streams__title
	&__title {
		margin: 0px 0px math.div(8px, 20px) * 1em 0px;
	}
	// .streams__header
	&__header {
		display: flex;
		margin: 0px 0px 18px 0px;
		@media (max-width: $md1+px) {
			margin: 0px 0px 16px 0px;
		}
		@media (max-width: $md3+px) {
		}
	}
	&__filter {
		flex: 1 1 auto;
	}
	// .streams__all
	&__all {
		@media (max-width: $md3+px) {
			display: none;
		}
	}
	// .streams__items
	&__items {
	}
	.swiper-container-initialized {
		.swiper-slide {
			flex-shrink: 0;
			// transition-property: transform;
		}
	}
	.swiper-container-android {
		.swiper-slide,
		.swiper-wrapper {
			transform: translate3d(0px, 0, 0);
		}
	}
	// .streams__footer
	&__footer {
		display: none;
		@media (max-width: $md3+px) {
			display: block;
		}
	}
	// .streams__all
	&__btn {
		width: 100%;
	}
}

.item-stream {
	display: flex;
	flex-direction: column;
	height: 100%;
	border-radius: 4px;
	overflow: hidden;
	// .item-stream__top
	&__top {
	}
	// .item-stream__body
	&__body {
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
		background-color: $bg-00;
		padding: 16px;
	}
	// .item-stream__title
	&__title {
		flex: 1 1 auto;
		color: inherit;
		margin: 0px 0px 16px 0px;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $link;
			}
		}
	}
	// .item-stream__chips
	&__chips {
		margin: -3px -20px -3px -3px;
		.chip {
			margin: 3px;
			@media (max-width: $md1+px) {
				//padding: 0px 6px;
			}
			@media (max-width: $md3+px) {
				font-size: 14px;
			}
		}
	}
}
.top-tem-stream {
	position: relative;
	// .top-tem-stream__labels
	&__labels {
		display: grid;
		grid-auto-flow: column;
		gap: 10px;
		position: absolute;
		top: 16px;
		right: 16px;
		z-index: 2;
	}
	// .top-tem-stream__label
	&__label {
		// .top-tem-stream__label_forecast
		&_forecast {
		}
		// .top-tem-stream__label_live
		&_live {
		}
	}
	// .top-tem-stream__stat
	&__stat {
		position: absolute;
		bottom: 16px;
		right: 16px;
		z-index: 2;
		background-color: $bg-04;
		padding: 4px 8px;
		@extend ._caption_small;
		border-radius: 4px;
	}
	// .top-tem-stream__image
	&__image {
		display: block;
		padding: 0px 0px math.div(192, 320) * 100% 0px;
		@media (max-width: $md4+px) {
			padding: 0px 0px 56.25% 0px;
		}
	}
}
//========================================================================================================================================================
.tabs-day-mach-top-10-bk {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
	}
	&__title {
		margin-bottom: 16px;
	}
	&__nav {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: 48px;
		background-color: $bg-02;
		margin: 0px -8px 16px -8px;
		padding: 0px 8px;
	}
	&__button {
		flex: 0 1 50%;
		height: 32px;
	}
}
//========================================================================================================================================================
.matches {
	&_home-page {
		margin: 0px 0px 32px 0px;
	}
	@media (max-width: $md3+px) {
		margin: 0px 0px 16px 0px;
	}
	// .matches__title
	&__title {
		margin: 0px 0px math.div(8px, 20px) * 1em 0px;
		&_margin {
			margin: 0px 0px math.div(16px, 20px) * 1em 0px;
		}
		@media (max-width: $md3+px) {
			text-align: center;
		}
	}
	// .matches__filter
	&__filter {
		margin: 0px 0px 16px 0px;
		@media (max-width: $md2+px) {
			flex-wrap: nowrap;
			overflow: auto;
			&::-webkit-scrollbar {
				width: 0;
			}
			-ms-overflow-style: none;
		}
		._content-filter__item {
			@media (max-width: $md2+px) {
				white-space: nowrap;
			}
		}
	}
	// .matches__items
	&__items {
		display: grid;
		gap: 32px;
		grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
		@media (max-width: 1200px) {
			gap: 24px;
			grid-template-columns: repeat(auto-fit, minmax(288px, 1fr));
		}
		@media (max-width: $md4+px) {
			grid-template-columns: repeat(auto-fit, minmax(304px, 1fr));
		}
	}

	// .matches__slider
	&__slider {
	}
	// .matches__footer
	&__footer {
		display: flex;
		height: 40px;
		padding: 16px 0px 0px 0px;
		position: relative;
		@media (max-width: $md3+px) {
			flex-direction: column;
			height: auto;
		}
	}
	// .matches__controls
	&__controls {
		display: flex;
		align-items: center;
		justify-content: center;
		flex: 1 1 auto;
		padding: 0px 10px;
		@media (max-width: $md3+px) {
			margin-bottom: 16px;
		}
	}
	// .matches__dotts
	&__dotts {
		padding: 0px 16px;
	}
	// .matches__all
	&__all {
		position: absolute;
		right: 0;
		top: 0;
		@media (max-width: $md3+px) {
			position: relative;
			right: auto;
			top: auto;
		}
	}
}
.match-item {
	border-radius: 0 0 4px 4px;
	overflow: hidden;

	// .match-item__top
	&__top {
		@extend %element-bg-hover;
		padding: 16px;
		@media (max-width: 1200px) {
			padding: 16px 16px 8px 16px;
		}
	}
	// .match-item__game
	&__game {
		margin: 0px 0px 16px 0px;
		@media (max-width: 1200px) {
			font-size: 14px;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 1;
			overflow: hidden;
			vertical-align: middle;
			._game__logo {
				flex: 0 0 18px;
				width: 18px;
				display: inline-block;
				position: relative;
				top: 4px;
			}
		}
		._game__logo {
			@media (max-width: 1200px) {
				flex: 0 0 18px;
				width: 18px;
			}
		}
	}
	// .match-item__main
	&__main {
	}
	// .match-item__forecast
	&__forecast {
		@extend %element-bg-hover;
	}
	// .match-item__bottom
	&__bottom {
		padding: 16px;
		background-color: $bg-03;
		display: grid;
		grid-template-columns: repeat(2, auto);
		row-gap: 16px;
		column-gap: 5px;
		&_live {
			background-color: $live;
		}
		@media (max-width: $md3+px) {
			padding: 25px 16px 16px 16px;
			row-gap: 17px;
		}
	}
	// .match-item__gamespot
	&__gamespot {
	}
	// .match-item__last-forecast
	&__last-forecast {
	}
	// .match-item__info
	&__info {
		grid-column: span 2;
	}
	// .match-item__button
	&__button {
		grid-column: span 2;
		width: 100%;
	}
}
.main-match-item {
	display: grid;
	grid-template: auto auto / 1fr 47.5px 47.5px 1fr;
	align-items: center;
	// .main-match-item__info
	&__info {
		display: flex;
		align-items: center;

		&_rev {
			flex-direction: row-reverse;
			.main-match-item__value {
				margin: 0px 0px 0px -13px;
			}
		}
	}
	// .main-match-item__value
	&__value {
		@media (max-width: 1200px) {
			position: relative;
			z-index: 1;
			margin: 0px -13px 0px 0px;
			padding: 4px 8px;
		}
		@media (max-width: $md3+px) {
			font-size: 12px;
			margin: 0;
		}
	}
	// .main-match-item__logo
	&__logo {
		flex: 0 0 56px;
		img {
			max-width: 100%;
		}
	}
	&__center {
		text-align: center;
		grid-column: span 2;
	}
	// .main-match-item__label
	&__label {
	}
	// .main-match-item__timer
	&__timer {
	}
	&__name {
		margin: 4px 0px 0px 0px;
		height: 32px;
		display: flex;
		justify-content: center;
		align-items: center;
		text-align: center;
		grid-column: span 2;
		@media (max-width: $md3+px) {
			height: 22px;
		}
	}
}
.forecast-match-item {
	padding: 8px 16px;
	display: flex;
	align-items: center;
	@extend ._caption;
	// .forecast-match-item__label
	&__label {
		padding: 0px 5px 0px 0px;
		flex: 1 1 auto;
		color: #abc2db;
	}
	// .forecast-match-item__link
	&__link {
		color: $link;
	}
}
.gamespot-match-item {
	display: flex;
	// .gamespot-match-item__avatar
	&__avatar {
		flex: 0 0 40px;
		width: 40px;
		height: 40px;
		@extend ._ibg;
		img {
			max-width: 100%;
		}
		@media (max-width: $md3+px) {
			flex: 0 0 32px;
			width: 32px;
			height: 32px;
		}
	}
	// .gamespot-match-item__body
	&__body {
		align-self: center;
		flex: 1 1 auto;
		padding: 0px 0px 0px 4px;
	}
	// .gamespot-match-item__title
	&__title {
		color: $gold;
		margin: 0px 0px 4px 0px;
		@media (max-width: 1200px) {
			white-space: nowrap;
		}
	}
	// .gamespot-match-item__info
	&__info {
		@media (max-width: 1200px) {
			._info-line__item {
				white-space: nowrap;
			}
		}
	}
}
.last-forecast {
	padding: 2px 0px 0px 0px;
	// .last-forecast__label
	&__label {
		@extend ._caption_small;
		color: $secondary;
		margin: 0px 0px math.div(6px, 10px) * 1em 0px;
	}
	// .last-forecast__result
	&__result {
		display: flex;
		margin: -2.5px;
		@media (max-width: 1200px) {
			margin: 0px -1px;
		}
	}
	// .last-forecast__item
	&__item {
		flex: 0 0 8px;
		width: 8px;
		height: 8px;
		margin: 2.5px;
		@media (max-width: 1200px) {
			margin: 2.5px 1px;
		}
		border-radius: 50%;
		// .last-forecast__item_green
		&_green {
			background-color: $success;
		}
		// .last-forecast__item_red
		&_red {
			background-color: $fail;
		}
		// .last-forecast__item_blue
		&_blue {
			background-color: $bg-04;
		}
	}
}
.info-match-item {
	display: flex;
	justify-content: space-between;
	margin: 0px -8px;
	// .info-match-item__item
	&__item {
		padding: 0px 8px;
	}
	// .info-match-item__label
	&__label {
		color: $secondary;
		opacity: 0.5;
		@extend ._caption_small;
		margin: 0px 0px 2px 0px;
	}
	// .info-match-item__value
	&__value {
		@extend ._body_small-strong;
		// .info-match-item__value_gold
		&_gold {
			color: $gold;
		}
		// .info-match-item__value_green
		&_green {
			color: $success;
		}
	}
}
.match-current-value {
	display: flex;
	justify-content: center;
	align-items: center;
	@extend ._headline-3;
	// .match-current-value__item
	&__item {
		margin: 0px 3px;
		// .match-current-value__item_red
		&_red {
			color: $fail;
		}
		// .match-current-value__item_green
		&_green {
			color: $success;
		}
	}
}
//========================================================================================================================================================
.ratings {
	// .ratings__header
	&__header {
		margin: 0px 0px 8px 0px;
		@media (max-width: $md3+px) {
			margin: 0px 0px 16px 0px;
		}
	}
	// .ratings__body
	&__body {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 32px;
		@media (max-width: $md1+px) {
			display: block;
		}
		@media (max-width: $md2+px) {
			display: none;
		}
	}
	// .ratings__column
	&__column {
		@media (max-width: $md1+px) {
			&:not(:last-child) {
				margin: 0px 0px 24px 0px;
			}
		}
	}
	// .ratings__title
	&__title {
		margin: 0px 0px 8px 0px;
	}
	// .ratings__items
	&__items {
		counter-reset: item;
		@media (max-width: $md1+px) {
			margin-bottom: 24px;
		}
	}
	// .ratings__item
	&__item {
		&:not(:last-child) {
			margin: 0px 0px 8px 0px;
		}
	}
	// .ratings__footer
	&__footer {
		padding: 16px 0px 0px 0px;
		display: flex;
		justify-content: space-between;
		@media (max-width: $md2+px) {
			display: none;
		}
	}
	// .ratings__button
	&__button {
		@media (max-width: $md1+px) {
			display: flex;
			max-width: 150px;
			margin: 0px auto;
			text-align: center;
		}
		&_big {
			width: 100%;
			max-width: 320px;
			@media (max-width: $md1+px) {
				display: none;
			}
		}
	}
	// .ratings__mobile
	&__mobile {
		@media (max-width: $md2+px) {
			overflow: auto;
		}
	}
}
.header-ratings {
	display: flex;
	align-items: center;
	@extend %element-bg;
	padding: 18px;
	justify-content: space-between;
	@media (max-width: $md2+px) {
		display: block;
		background: transparent;
		padding: 0;
	}
	@media (max-width: $md3+px) {
		padding: 0;
	}
	// .header-ratings__main
	&__main {
		padding: 0px 20px 0px 0px;
		margin: 0;
		@media (max-width: $md2+px) {
			display: block;
		}
	}
	// .header-ratings__title
	&__title {
		@media (max-width: $md2+px) {
			margin: 0px 0px 12px 0px;
		}
	}
	// .header-ratings__filter
	&__filter {
		@media (max-width: $md2+px) {
			margin: 0px 0px 22px 0px;
		}
	}
	// .header-ratings__type
	&__type {
	}
}
.type-header-ratings {
	display: flex;
	align-items: center;
	// .type-header-ratings__label
	&__label {
		padding: 0px 14px 0px 0px;
		@extend ._body_small;
		@media (max-width: $md3+px) {
			padding: 0px 8px 0px 0px;
		}
	}
	// .type-header-ratings__items
	&__items {
		display: grid;
		grid-auto-flow: column;
		gap: 14px;
		align-items: center;
		@media (max-width: $md3+px) {
			gap: 8px;
		}
	}
	// .type-header-ratings__item
	&__item {
		opacity: 0.5;
		border-radius: 4px;
		border: 2px solid transparent;
		overflow: hidden;
		img {
			width: 22px;
			height: 22px;
		}
		&._active {
			opacity: 1;
			border: 2px solid #fcfeff;
		}
	}
}
.item-ratings {
	display: grid;
	column-gap: 16px;
	row-gap: 8px;
	padding: 8px 16px;
	color: inherit;
	align-items: center;
	@extend %element-bg;
	border-radius: 4px;
	overflow: hidden;
	position: relative;
	grid-auto-rows: 56px;
	&:hover {
		@extend %element-bg-hover;
		.item-ratings__name {
			color: $link;
		}
	}
	// .item-ratings_team
	&_team {
		grid-template: 56px / 1fr minmax(260px, auto);
		.item-ratings__main {
			grid-template-columns: 16px 40px 1fr;
		}
		.item-ratings__info {
			grid-template-columns: 20px 80px 55px 22px;
		}
	}
	// .item-ratings_player
	&_player {
		grid-template: 56px / 1fr minmax(220px, auto);
		.item-ratings__main {
			grid-template-columns: 40px 1fr;
		}
		.item-ratings__info {
			grid-template-columns: 20px 80px 55px;
		}
	}
	// .item-ratings__main
	&__main {
		position: relative;
		display: grid;
		height: 100%;
		column-gap: 16px;
		align-items: center;
	}
	// .item-ratings__number
	&__number {
		text-align: center;
		&::before {
			@extend ._body_small;
			counter-increment: item;
			content: counter(item);
		}
	}
	// .item-ratings__logo
	&__logo {
		border-radius: 4px;
		overflow: hidden;
		height: 40px;
		img {
			max-height: 40px;
			max-width: 100%;
		}
	}
	// .item-ratings__name
	&__name {
		color: inherit;
		transition: all 0.3s ease 0s;
	}
	// .item-ratings__info
	&__info {
		display: grid;
		gap: 32px;
		height: 100%;
		grid-auto-flow: column;
		align-items: center;
	}
	// .item-ratings__flag
	&__flag {
	}
	// .item-ratings__prizes
	&__prizes {
		text-align: center;
		white-space: nowrap;
	}
	// .item-ratings__winrate
	&__winrate {
	}
	// .item-ratings__rate
	&__rate {
	}
	// .item-ratings__line
	&__line {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 1px;
		background-color: $fail;
		span {
			position: absolute;
			background-color: $success;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
}
//========================================================================================================================================================

.mobile-rating {
	display: none;

	@media (max-width: $md2+px) {
		display: block;
		margin-bottom: 34px;
		padding-bottom: 22px;
	}
	// .mobile-rating__items
	&__items {
		counter-reset: item-2;
		min-width: 664px;
		overflow: auto;
	}
	// .mobile-rating__item
	&__item {
		&:not(:last-child) {
			margin: 0px 0px 8px 0px;
		}
	}
}
.item-mobile-rating {
	// .item-mobile-rating__command
	&__command {
	}
	// .item-mobile-rating__players
	&__players {
		.command-mobile-rating {
			grid-auto-rows: 40px;
			grid-template: 40px / 1fr minmax(286px, auto);
		}
		.command-mobile-rating__main {
			grid-template-columns: 16px 1fr;
		}
		.command-mobile-rating__rate,
		.command-mobile-rating__prizes {
			font-size: 10px;
		}
		.command-mobile-rating__number {
			&::before {
				@extend ._body_small;
				counter-increment: item-3;
				content: counter(item-3);
			}
		}
	}
}
.command-mobile-rating {
	min-width: 664px;
	display: grid;
	grid-template: 56px / 1fr minmax(286px, auto);
	column-gap: 16px;
	row-gap: 8px;
	padding: 8px 16px;
	color: inherit;
	align-items: center;
	@extend %element-bg;
	border-radius: 4px;
	overflow: hidden;
	position: relative;
	grid-auto-rows: 56px;
	transition: all 0.3s ease 0s;
	&._active {
		background: $bg-03;
	}
	// .command-mobile-rating__main
	&__main {
		position: relative;
		display: grid;
		height: 100%;
		column-gap: 16px;
		align-items: center;
		grid-template-columns: 16px 40px 1fr;
	}
	// .command-mobile-rating__number
	&__number {
		text-align: center;
		&::before {
			@extend ._body_small;
			counter-increment: item-2;
			content: counter(item-2);
		}
	}
	// .command-mobile-rating__logo
	&__logo {
		border-radius: 4px;
		overflow: hidden;
		height: 40px;
		img {
			max-height: 40px;
			max-width: 100%;
		}
	}
	// .command-mobile-rating__name
	&__name {
		color: inherit;
		display: flex;
		align-items: center;
		@media (max-width: $md3+px) {
			font-size: 14px;
		}
	}
	// .command-mobile-rating__flag
	&__flag {
		flex: 0 0 20px;
		color: inherit;
		width: 20px;
		height: 13px;
		margin: 0px 4px 0px 0px;
	}
	// .command-mobile-rating__info
	&__info {
		display: grid;
		gap: 32px;
		height: 100%;
		grid-auto-flow: column;
		align-items: center;
		grid-template-columns: 22px 80px 55px 45px;
	}
	// .command-mobile-rating__rate
	&__rate {
	}
	// .command-mobile-rating__prizes
	&__prizes {
		text-align: center;
		white-space: nowrap;
	}
	// .command-mobile-rating__winrate
	&__winrate {
	}
	// .command-mobile-rating__statistics
	&__statistics {
	}
	// .command-mobile-rating__line
	&__line {
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 1px;
		background-color: $fail;
		span {
			position: absolute;
			background-color: $success;
			height: 100%;
			top: 0;
			left: 0;
		}
	}
}
.players-mobile-rating {
	background-color: $bg-03;
	padding: 8px 16px 16px 16px;
	counter-reset: item-3;
	&__item {
	}
}

//========================================================================================================================================================
.home-landing {
	@media (max-width: 1200px) {
		padding-top: 50px !important;
	}
	@media (max-width: $md2+px) {
		padding-top: 0;
	}
	&__title {
		margin: 0px 0px 32px 0px;
		text-align: center;
		&_partners {
			@media (max-width: 600px) {
				margin: 0px 0px 6px 0px !important;
			}
		}
		@media (max-width: $md3+px) {
			margin: 0px 0px 16px 0px;
			br {
				display: none;
			}
		}
	}
	// .home-landing__main
	&__main {
		margin: 0px 0px 65px 0px;
		@media (max-width: $md2+px) {
			margin: 0px 0px 55px 0px;
		}
		@media (max-width: $md3+px) {
			margin: 0px 0px 48px 0px;
		}
	}
	// .home-landing__section
	&__section {
		margin: 0px 0px 128px 0px;
		@media (max-width: $md1+px) {
			margin: 0px 0px 80px 0px;
		}
		@media (max-width: $md2+px) {
			margin: 0px 0px 60px 0px;
		}
		@media (max-width: $md3+px) {
			margin: 0px 0px 48px 0px;
		}
		@media (max-width: 1200px) {
		}
	}
	&__matches {
		margin: 0px 0px 32px 0px;
		@media (max-width: $md2+px) {
			margin: 0px 0px 25px 0px;
		}
		@media (max-width: $md3+px) {
			margin: 0px 0px 16px 0px;
		}
	}
}
.main-landing {
	display: grid;
	grid-template-columns: math.div(554, 1376) * 100% math.div(788, 1376) * 100%;
	gap: 32px;
	align-items: center;
	@media (max-width: $md2+px) {
		display: flex;
		flex-direction: column-reverse;
	}
	@media (max-width: $md2+px) {
		padding: 16px 0px 0px 0px;
	}
	// .landing-main__content
	&__content {
		display: grid;
		gap: 32px;
		justify-self: end;
		@media (max-width: 1200px) {
			margin: 0px -60px 0px 0px;
		}
		@media (max-width: $md2+px) {
			margin: 0;
		}
	}
	// .landing-main__image
	&__image {
		@media (max-width: $md2+px) {
			max-width: 500px;
		}
		@media (max-width: $md3+px) {
			display: none;
		}
		img {
			max-width: 100%;
			margin: 0px auto;
		}
	}
	// .main-landing__title
	&__title {
		@media (max-width: $md3+px) {
			br {
				display: none;
			}
		}
	}
	// .main-landing__list
	&__list {
		li {
			@media (max-width: $md3+px) {
				br {
					display: none;
				}
			}
		}
	}
	// .main-landing__button
	&__button {
		justify-self: start;
		@media (max-width: $md3+px) {
			justify-self: center;
		}
	}
}
//========================================================================================================================================================
.forecast-history {
	&_lending {
		display: block !important;
		padding: 0px !important;
		background-color: transparent !important;
		.forecast-history__items {
			@media (max-width: $md2+px) {
				gap: 20px;
			}
			@media (max-width: $md3+px) {
				gap: 15px;
			}
			@media (max-width: 460px) {
				gap: 8px;
				grid-template-columns: repeat(auto-fit, minmax(148px, 1fr));
			}
		}
	}
	// .forecast-history__title
	&__title {
		margin: 0px 0px 16px 0px;
		@media (max-width: $md4+px) {
			display: none;
		}
	}
	// .forecast-history__items
	&__items {
		display: grid;
		gap: 32px;
		grid-template-columns: repeat(auto-fit, minmax(202px, 1fr));
	}
}
.item-forecast-history {
	padding: 16px;
	color: inherit;
	background-color: $bg-03;
	display: grid;
	row-gap: 16px;
	border-radius: 4px;
	border: 2px solid transparent;
	transition: border 0.3s ease 0s;
	@media (max-width: $md4+px) {
		padding: 16px 12px 16px 16px;
		row-gap: 8px;
	}

	&._active {
		border: 2px solid #6c89a9;
	}
	@media (any-hover: hover) {
		&:hover {
			border: 2px solid #6c89a9;
		}
	}
	// .item-forecast-history__line
	&__line {
		display: grid;
		grid-template-columns: repeat(2, auto);
		column-gap: 8px;
		&:first-child {
			justify-content: space-between;
		}
		@media (max-width: $md4+px) {
			&:first-child {
				display: block;
			}
		}
	}
	// .item-forecast-history__month
	&__month {
		align-self: center;
		@media (max-width: $md4+px) {
			margin: 0px 0px 2px 0px;
		}
	}
	// .item-forecast-history__profit
	&__profit {
		white-space: nowrap;
	}
	// .item-forecast-history__item
	&__item {
	}
	// .item-forecast-history__label
	&__label {
		opacity: 0.5;
	}
	// .item-forecast-history__value
	&__value {
	}
}
//========================================================================================================================================================
.school-landing {
	@media (max-width: $md3+px) {
		text-align: center;
	}
	// .school-landing__header
	&__header {
		display: flex;
		align-items: center;
		margin: 0px 0px 32px 0px;
		@media (max-width: $md3+px) {
			justify-content: center;
			margin: 0px 0px 16px 0px;
		}
	}
	// .school-landing__title
	&__title {
		flex: 1 1 auto;
		@media (max-width: $md2+px) {
			font-size: 25px;
		}
		@media (max-width: $md3+px) {
			text-align: center;
			font-size: 20px;
		}
	}
	// .school-landing__button
	&__button {
	}
	// .school-landing__items
	&__items {
		@media (max-width: $md3+px) {
			margin: 0px -8px 10px -8px;
		}
	}
	&__wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
		gap: 32px;
		@media (max-width: 1200px) {
			// width: 100%;
			// height: 100%;
			// box-sizing: content-box;
			// display: flex;
			// position: relative;
			// gap: 0;
			display: flex;
			gap: 0;
			overflow: auto;
			margin: 0px -25px 0px -16px;
			&::-webkit-scrollbar {
				width: 0;
			}
			-ms-overflow-style: none;
		}
		@media (max-width: $md3+px) {
			// width: 100%;
			// height: 100%;
			// box-sizing: content-box;
			// display: flex;
			// position: relative;
			// gap: 0;
			margin: 0px -8px;
			&::-webkit-scrollbar {
				width: 0;
			}
			-ms-overflow-style: none;
		}
	}
	// .school-landing__item
	&__item {
		padding: 0px 0px math.div(180, 320) * 100% 0px;
		@media (max-width: 1200px) {
			padding: 0;
			height: 180px;
			width: 320px;
			flex: 0 0 320px;
			margin: 0px 16px;
		}
		@media (max-width: $md3+px) {
			padding: 0;
			height: 144px;
			width: 256px;
			flex: 0 0 256px;
			margin: 0px 8px;
		}
		@media (max-width: 350px) {
			margin: 0px 8px;
		}
	}
}
//========================================================================================================================================================
.tarifs {
	// .tarifs__body
	&__body {
	}
	// .tarifs__sub-title
	&__sub-title {
		text-align: center;
		margin: 0px 0px math.div(32px, 24px) * 1em 0px;
		@media (max-width: $md3+px) {
			margin: 0px 0px 16px 0px;
		}
		@media (max-width: $md4+px) {
			font-size: 16px;
		}
	}
	// .tarifs__items
	&__items {
		display: grid;
		grid-template-columns: repeat(3, 320px);
		justify-content: center;
		gap: 64px;
		@media (max-width: 1200px) {
			gap: 23px;
			grid-template-columns: repeat(3, 288px);
		}
		// @media (max-width: 1100px) {
		// 	grid-template-columns: repeat(2, 320px);
		// 	.tarif-item {
		// 		&:last-child {
		// 			grid-column: span 2;
		// 		}
		// 	}
		// }
		@media (max-width: $md2+px) {
			gap: 20px;
		}
		@media (max-width: $md3+px) {
			display: block;
		}
	}
}
.tarif-item {
	@media (max-width: $md3+px) {
		&:not(:last-child) {
			margin: 0px 0px 24px 0px;
		}
	}
	// .tarif-item__body
	&__body {
		background-color: $bg-03;
		padding: 32px 24px;
		border-radius: 4px;
		display: grid;
		gap: 32px;
		@media (max-width: 1200px) {
			padding: 24px 16px;
		}
		@media (max-width: $md4+px) {
			padding: 25px 16px;
		}
	}
	// .tarif-item__top
	&__top {
		display: grid;
		gap: 16px;
		justify-items: start;
	}
	// .tarif-item__price
	&__price {
	}
	// .tarif-item__value
	&__value {
		display: inline-grid;
		grid-auto-flow: column;
		align-items: center;
		gap: 8px;
		@media (max-width: $md4+px) {
			margin: 0px 0px 5px 0px;
		}
		._sale {
			@media (max-width: $md4+px) {
				font-size: 12px;
				min-height: 28px;
			}
		}
	}

	// .tarif-item__label
	&__label {
	}
	// .tarif-item__type
	&__type {
		display: inline-grid;
		grid-auto-flow: column;
		align-items: center;
		gap: 16px;
		h5 {
			font-size: 14px;
			font-weight: 400;
		}
	}
	// .tarif-item__bottom
	&__bottom {
		display: grid;
		gap: 16px;
	}
	// .tarif-item__subtitle
	&__subtitle {
		margin: 0px 0px math.div(4px, 16px) * 1em 0px;
		@media (max-width: $md4+px) {
			font-size: 16px;
		}
	}
	// .tarif-item__button
	&__button {
	}
	// .tarif-item__info
	&__info {
		padding: 16px 0px 16px 24px;
		@media (max-width: $md4+px) {
			padding: 16px 5px 0px 16px;
		}
	}
	&__select {
		@media (max-width: $md2+px) {
			.select__value {
				min-height: 28px;
				padding: 4px 16px;
				&::after {
					width: 15px;
					height: 15px;
					background: url("../img/icons/select.svg") center / 8px no-repeat;
				}
			}
			.select__title {
				height: 32px;
			}
		}
	}
}
.info-tarif-item {
	display: inline-grid;
	gap: 16px;
	// .info-tarif-item__title
	&__title {
	}
	// .info-tarif-item__list
	&__list {
	}
}
//========================================================================================================================================================
.info-tarifs {
	display: grid;
	grid-template-columns: 1fr 320px;
	gap: 32px;
	@media (max-width: 1450px) {
		display: block;
	}
	// .info-tarifs__content
	&__content {
		background-color: $bg-03;
		border-radius: 4px;
		padding: 48px 24px;
		@media (max-width: 1450px) {
			margin: 0px 0px 80px 0px;
		}
		@media (max-width: 1200px) {
			margin: 0px 0px 24px 0px;
		}
		@media (max-width: $md2+px) {
			padding: 24px 24px;
			margin: 0px 0px 60px 0px;
		}
		@media (max-width: $md3+px) {
			padding: 16px;
			margin: 0px 0px 48px 0px;
		}
	}
	// .info-tarifs__header
	&__header {
		text-align: center;
		margin: 0px 0px 64px 0px;
	}

	// .info-tarifs__title
	&__title {
		margin: 0px 0px math.div(16px, 32px) * 1em 0px;
		@media (max-width: $md4+px) {
			margin: 0px 0px 8px 0px;
		}
	}
	// .info-tarifs__sub-title
	&__sub-title {
	}
	// .info-tarifs__graph
	&__graph {
		height: 160px;
		margin: 0px 0px 32px 0px;
		@media (max-width: $md3+px) {
			height: 50px;
		}
	}
	// .info-tarifs__footer
	&__footer {
		display: grid;
		grid-template-columns: minmax(auto, 190px) minmax(auto, 280px) 1fr;
		gap: 70px;
		@media (max-width: 1100px) {
			gap: 35px;
		}
		@media (max-width: $md2+px) {
			grid-template-columns: 1fr 1fr;
		}
		@media (max-width: $md3+px) {
			column-gap: 20px;
			row-gap: 32px;
		}
		@media (max-width: $md4+px) {
			column-gap: 13px;
		}
		@media (max-width: 335px) {
			grid-template-columns: minmax(auto, 130px) auto;
		}
	}
	// .info-tarifs__summ
	&__summ {
		@media (max-width: 340px) {
			min-width: 130px;
		}
	}
	// .info-tarifs__label
	&__label {
		margin: 0px 0px math.div(22px, 18px) * 1em 0px;
		@media (max-width: $md4+px) {
			font-size: 14px;
			margin: 0px 0px 8px 0px;
			&_m {
				margin: 0px 0px 16px 0px;
			}
		}
	}
	// .info-tarifs__range
	&__range {
	}
	// .info-tarifs__profit
	&__profit {
	}
	// .info-tarifs__headline
	&__headline {
		margin: 0px 0px math.div(8px, 32px) * 1em 0px;
	}
	// .info-tarifs__info
	&__info {
		@media (max-width: $md4+px) {
			font-size: 12px;
		}
	}
	// .info-tarifs__recommendation
	&__recommendation {
		display: inline-grid;
		justify-items: end;
		text-align: right;
		@media (max-width: $md2+px) {
			grid-column: span 2;
			justify-items: center;
		}
	}
	&__main {
	}
	// .info-tarifs__price
	&__price {
		margin: 0px 0px math.div(24px, 20px) * 1em 0px;
		span {
			opacity: 0.5;
			text-decoration: line-through;
			margin: 0px 0px 0px 18px;
		}
		@media (max-width: $md2+px) {
			text-align: center;
			span {
				margin: 0px 0px 0px 18px;
			}
		}
		@media (max-width: $md4+px) {
			margin: 0px 0px 8px 0px;
		}
	}
	// .info-tarifs__button
	&__button {
	}
	// .info-tarifs__warranty
	&__warranty {
		display: inline-grid;
		gap: 24px;
		background-color: $bg-03;
		border-radius: 4px;
		padding: 16px 24px;

		@media (min-width: $md2+px) {
		}
		@media (max-width: 1200px) {
			display: grid;
			grid-template-columns: repeat(2, auto);
			grid-template-rows: repeat(3, auto);
			.warranty-info-tarifs__image {
				grid-row: span 3;
				align-self: start;
			}
		}
		@media (max-width: $md2+px) {
			display: inline-grid;
			gap: 24px;
			background-color: $bg-03;
			border-radius: 4px;
			padding: 16px 24px;
			grid-template-columns: auto;
			grid-template-rows: auto;
			.warranty-info-tarifs__image {
				grid-row: span 1;
				align-self: start;
			}
		}
		@media (max-width: $md3+px) {
			padding: 16px;
			text-align: center;
		}
	}
}
.range-info-tarifs {
	// .range-info-tarifs__value
	&__value {
		white-space: nowrap;
		padding: 14px 16px;
		border-radius: 4px;
		background-color: $bg-02;
		margin: -14px 0px 17px 0px;
		@media (max-width: $md2+px) {
			padding: 8px 16px;
		}
		@media (max-width: $md4+px) {
			margin: 0px 0px 17px 0px;
		}
	}
	// .range-info-tarifs__item
	&__item {
	}
}
.warranty-info-tarifs {
	@media (max-width: 1200px) {
	}
	// .warranty-info-tarifs__image
	&__image {
		img {
			margin: 0px auto;
			max-width: 100%;
		}
	}
	// .warranty-info-tarifs__title
	&__title {
		@media (max-width: $md3+px) {
			font-size: 16px;
		}
	}
	// .warranty-info-tarifs__text
	&__text {
	}
	// .warranty-info-tarifs__button
	&__button {
		justify-self: start;
		@media (max-width: $md3+px) {
			justify-self: center;
		}
	}
}
//========================================================================================================================================================
.reviews {
	// .reviews__slider
	&__slider {
		position: relative;
		margin: 0px -32px 24px 0px;
		@media (max-width: 350+px) {
			margin: 0px -8px 16px -8px;
		}
	}
	// .reviews__controls
	&__controls {
		margin: 0px 0px 32px 0px;
		@media (max-width: $md4+px) {
			display: none;
		}
	}
	// .reviews__arrow
	&__arrow {
		// .reviews__arrow_prev
		&_prev {
		}
		// .reviews__arrow_next
		&_next {
		}
	}
	// .reviews__dotts
	&__dotts {
	}
	// .reviews__footer
	&__footer {
		text-align: center;
	}
	// .reviews__title
	&__title {
		margin: 0px 0px math.div(24px, 20px) * 1em 0px;
		@media (max-width: $md4+px) {
			margin: 0px 0px 8px 0px;
		}
	}
	// .reviews__button
	&__button {
	}
}
.item-reviews {
	width: 255px;
	border-radius: 4px;
	overflow: hidden;
	position: relative;
	color: inherit;
	@media (max-width: $md3+px) {
		width: 210px;
	}
	@media (any-hover: hover) {
		&:hover {
			.item-reviews__play {
				&::before {
					opacity: 1;
				}
			}
		}
	}
	// .item-reviews__label
	&__label {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
		height: 24px;
		align-items: center;
		display: flex;
		padding: 0px 8px;
		color: $primary-dark;
		@extend ._caption;
		background-color: $gold;
	}
	// .item-reviews__video
	&__video {
		display: block;
		padding: 0px 0px math.div(455, 255) * 100% 0px;
		@media (max-width: $md3+px) {
		}
	}

	// .item-reviews__content
	&__content {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
	}
	// .item-reviews__play
	&__play {
		flex: 1 1 auto;
		position: relative;
		&::before {
			content: "";
			transition: opacity 0.3s ease 0s;
			background: url("../img/icons/play.svg") center / 100% 100% no-repeat;
			position: absolute;
			width: math.div(95, 255) * 100%;
			height: math.div(95, 255) * 100%;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			opacity: 0.5;
			z-index: 2;
		}
	}
	// .item-reviews__body
	&__body {
		background: rgba(23, 31, 50, 0.75);
		backdrop-filter: blur(15px);
		border-radius: 0px 0px 4px 4px;
		padding: 16px;
	}
	// .item-reviews__name
	&__name {
		margin: 0px 0px 4px 0px;
	}
	// .item-reviews__text
	&__text {
		height: 72px;
		overflow: hidden;
		@media (max-width: $md3+px) {
			height: 91px;
			line-height: 18px;
		}
	}
}
//========================================================================================================================================================
.media {
	// .media__slider
	&__slider {
		margin: 0px 0px 12px 0px;
		@media (max-width: 1200px) {
			margin-bottom: 32px;
		}
		@media (max-width: $md2+px) {
			margin: 0px 0px 12px 0px;
		}
		@media (max-width: 500px) {
			margin: 0;
		}
		.swiper-wrapper {
			display: grid;
			align-items: start;
			grid-auto-flow: column;
			grid-template-rows: auto auto;
			@media (max-width: 500px) {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
		}
	}
	// .media__controls
	&__controls {
		@media (max-width: 500px) {
			display: none;
		}
	}
	// .media__arrow
	&__arrow {
		// .media__arrow_prev
		&_prev {
		}
		// .media__arrow_next
		&_next {
		}
	}
	// .media__dotts
	&__dotts {
	}
}
.item-media {
	background-color: $bg-03;
	margin: 0px 0px 12px 0px;
	padding: 0px 35px 35px;
	text-align: center;
	color: inherit;
	height: 320px;
	@media (max-width: 1268px) {
		height: 300;
		margin: 0;
	}
	@media (max-width: 1200px) {
		padding: 0px 8px 35px;
	}
	@media (max-width: 1200px) {
		height: 288px;
	}
	@media (max-width: $md2+px) {
		height: 260px;
	}
	@media (max-width: 500px) {
		display: none;
		max-width: 248px;
		min-height: 240px;
		height: auto;
		padding: 0px 16px 16px 16px;
		&:not(:last-child) {
			margin: 0px 0px 16px 0px;
		}
		&:nth-child(-n + 8) {
			display: block;
		}
	}
	&_add {
		display: flex;
		padding: 35px;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		@media (max-width: 500px) {
			&:not(:last-child) {
				margin: 0px 0px 0px 0px;
			}
		}
	}
	// .item-media__logo
	&__logo {
		height: 116px;
		display: flex;
		justify-content: center;
		padding: 16px 0px;
		align-items: center;
		@media (max-width: 500px) {
			height: auto;
			padding: 10px 10px 10px 10px;
			height: 90px;
			&:not(:last-child) {
				margin: 0px 0px 8px 0px;
			}
			display: flex;
			justify-content: center;
			align-items: center;
		}
		img {
			max-width: 100%;
			max-height: 84px;
		}
	}
	// .item-media__title
	&__title {
		margin: 0px 0px math.div(16px, 22px) * 1em 0px;
		@media (max-width: $md3+px) {
			font-size: 20px;
		}
		@media (max-width: $md4+px) {
			font-size: 16px;
			margin: 0px 0px 8px 0px;
		}
	}
	// .item-media__text
	&__text {
	}
	&__button {
		margin: 32px 0px 0px 0px;
	}
}
//========================================================================================================================================================
.partners {
	// .partners__slider
	&__slider {
		margin: 0px 0px 32px 0px;
		@media (max-width: 600px) {
			.swiper-wrapper {
				display: grid;
				align-items: start;
				grid-auto-flow: column;
				grid-template-rows: auto auto auto;
			}
		}
	}
	// .partners__controls
	&__controls {
	}
	// .partners__arrow
	&__arrow {
		// .partners__arrow_prev
		&_prev {
		}
		// .partners__arrow_next
		&_next {
		}
	}
	// .partners__dotts
	&__dotts {
	}
}
.item-partners {
	padding: 32px 24px;
	color: inherit;
	@media (max-width: 600px) {
		padding: 24px 0px;
	}
	// .item-partners__logo
	&__logo {
		display: flex;
		height: 100px;
		justify-content: center;
		align-items: center;
		padding: 5px;
		margin: 0px 0px 16px 0px;
		img {
			max-width: 100%;
			max-height: 90px;
		}
	}
	// .item-partners__line
	&__line {
		max-width: 293px;
		margin: 0px auto 8px;
		position: relative;
		height: 13px;
		opacity: 0.15;
		&::before {
			content: "";
			background-color: #6c89a9;
			height: 1px;
			width: 100%;
			top: 50%;
			left: 0;
			position: absolute;
			transform: translate(0px, -50%);
		}
		&::after {
			content: "";
			background: $bg-02 url("../img/icons/quote.svg") center / 22px no-repeat;
			width: 42px;
			height: 13px;
			position: absolute;
			transform: translate(-50%, 0px);
			left: 50%;
			top: 0;
		}
	}
	// .item-partners__text
	&__text {
		font-size: 14px;
		line-height: 200%;
		@media (max-width: $md3+px) {
			text-align: center;
		}
	}
}
