.page_live {
	@media (min-width: $md1+px) {
		.page__body {
			margin: 0px -16px;
		}
	}
	@media (max-width: $md4+px) {
		.page__sub-title {
			font-size: 14px;
		}
	}
}
//========================================================================================================================================================

.other-forecasts {
	display: grid;
	gap: 24px;
	@media (max-width: $md3+px) {
		gap: 16px;
	}
	// .other-forecasts__title
	&__title {
	}
	// .other-forecasts__items
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
		gap: 32px;
		@media (max-width: $md1+px) {
			gap: 24px;

			.match-item {
				&:last-child {
					display: none;
				}
			}
		}
		@media (max-width: 1250px) {
			grid-template-columns: repeat(auto-fill, minmax(288px, 1fr));
		}
		@media (max-width: $md2+px) {
			gap: 16px;
			.match-item {
				&:last-child {
					display: block;
				}
			}
		}
		@media (max-width: $md3+px) {
			gap: 8px;
		}
	}
	// .other-forecasts__footer
	&__footer {
		text-align: center;
	}
	// .other-forecasts__button
	&__button {
	}
}
//========================================================================================================================================================
// ? bot-events
.bot-events {
	// .bot-events__wrapper
	&__wrapper {
		display: grid;
		gap: 32px;
		grid-template-columns: repeat(4, 1fr);
		@media (max-width: $md1+px) {
			column-gap: 24px;
		}
		@media (max-width: $md2+px) {
			column-gap: 16px;
			row-gap: 16px;
		}
		@media (max-width: $md3+px) {
			grid-template-columns: auto;
		}
		&_express {
			grid-template-columns: repeat(4, 1fr);
			grid-template-rows: repeat(2, auto);
			.bot-events__column {
				&:first-child {
					grid-row: span 2;
				}
				&:last-child {
					grid-column: span 2;
				}
			}
			@media (max-width: $md1+px) {
				grid-template-rows: auto;
				.bot-events__column {
					&:first-child {
						grid-row: span 1;
					}
				}
				.bot-info__body {
					max-width: 285px;
				}
			}
			@media (max-width: $md2+px) {
				.bot-info__body {
					max-width: none;
				}
			}
			@media (max-width: $md3+px) {
				grid-template-columns: auto;
				grid-template-rows: auto;
				gap: 24px;
				.bot-events__list {
					margin: 0px 8px;
				}
				.bot-events__column {
					&:last-child {
						grid-column: span 1;
						.bot-events__column {
							display: none;
						}
					}
				}
				.event-bot-event__column {
					&:first-child {
						.event-bot-event__info {
							.event-bot-event__name {
								order: 1;
							}
							.event-bot-event__logo {
								order: 2;
							}
						}
					}
					.event-bot-event__info {
						grid-auto-flow: column;
					}
				}
			}
		}
	}
	// .bot-events__column
	&__column {
		&:first-child {
			grid-column: span 2;
		}
		@media (max-width: $md1+px) {
			&:first-child {
				grid-column: span 4;
			}
			&:nth-child(2),
			&:nth-child(3) {
				grid-column: span 2;
			}
		}
		@media (max-width: $md3+px) {
			&:first-child {
				grid-column: span 1;
			}
			&:nth-child(2),
			&:nth-child(3) {
				grid-column: span 1;
			}
		}
	}
	// .bot-events__list
	&__list {
		display: grid;
		gap: 8px;
		@media (max-width: $md3+px) {
			gap: 24px;
		}
	}
}
//? bot-enent
.bot-event {
	&_express {
		.header-bot-event {
			min-height: 40px;
			padding: 8px 24px;
		}
		.event-bot-event {
			padding: 13px;
		}
		.event-bot-event__logo {
			width: 40px;
			height: 40px;
		}
		@media (max-width: $md3+px) {
			.event-bot-event {
				padding: 8px 2px;
			}
			.header-bot-event {
				padding: 10px;
			}
		}
		@media (max-width: $md4+px) {
			.header-bot-event {
				padding: 4px 8px;
			}
			.event-bot-event {
				padding: 2px 2px;
			}
			.event-bot-event__logo {
				width: 24px;
				height: 24px;
			}
		}
	}
	// .bot-event__header
	&__header {
	}
	// .bot-event__event
	&__event {
	}
	// .bot-event__footer
	&__footer {
	}
}
.header-bot-event {
	min-height: 56px;
	padding: 16px 24px;
	border-radius: 4px 4px 0px 0px;
	display: grid;
	grid-template-columns: repeat(3, auto) 1fr;
	align-items: center;
	background-color: $bg-03;
	gap: 16px;
	@media (max-width: $md3+px) {
		grid-template-columns: repeat(3, 1fr);
		justify-content: center;
		justify-items: center;
		gap: 8px;
		padding: 10px;
	}
	@media (max-width: $md4+px) {
		padding: 4px 10px;
	}
	&_live {
		background-color: #280716;
	}
	// .header-bot-event__main
	&__main {
		display: grid;
		grid-auto-flow: column;
		gap: 16px;
		align-items: center;
		@media (max-width: $md3+px) {
			grid-column: span 3;
			display: inline-grid;
			justify-content: start;
		}
		@media (max-width: $md4+px) {
			gap: 8px;
			justify-self: start;
		}
	}
	// .header-bot-event__disc
	&__disc {
	}
	// .header-bot-event__rating
	&__rating {
		font-weight: 400;
		@media (max-width: $md4+px) {
			&._rating {
				&::before {
					width: 16px;
					height: 16px;
					font-size: 16px;
					margin: 0px 4px 0px 0px;
				}
			}
		}
	}
	// .header-bot-event__name
	&__name {
	}
	// .header-bot-event__grid
	&__grid {
		color: $link;
		@media (max-width: $md3+px) {
			justify-self: start;
		}
	}
	// .header-bot-event__info
	&__info {
	}
	// .header-bot-event__time
	&__time {
		display: inline-grid;
		grid-auto-flow: column;
		align-items: center;
		gap: 8px;
		justify-self: end;
		@extend ._body_small;
		span {
			width: 13px;
			height: 13px;
			background-color: #ef3900;
			border-radius: 50%;
		}
	}
}

.event-bot-event {
	display: grid;
	grid-template-columns: 1fr minmax(105px, auto) 1fr;
	align-items: center;
	gap: 8px;
	padding: 26px;
	@extend %element-bg;
	@media (max-width: $md3+px) {
		padding: 18px 2px;
	}
	@media (max-width: $md4+px) {
		grid-template-columns: 1fr 61px 1fr;
	}
	// .event-bot-event__column
	&__column {
		&:first-child {
			.event-bot-event__info {
				justify-content: end;
			}
		}
		&:last-child {
			.event-bot-event__info {
				justify-content: start;
			}
		}
		// .event-bot-event__column_center
		&_center {
			display: grid;
			justify-content: center;
			align-items: center;
			align-content: center;
			min-height: 48px;
			text-align: center;
		}
		.match-current-game-score {
			min-height: 18px;
			// .match-current-game-score_bot
			&_bot {
				gap: 4px;
				.match-current-game-score__item,
				.match-current-game-score__span {
					font-weight: 600;
					font-size: 16px;
					line-height: math.div(18px, 16px) * 100%;
				}
			}
		}
		@media (max-width: $md3+px) {
			&:first-child {
				.event-bot-event__info {
					.event-bot-event__name {
						order: 2;
					}
				}
			}
		}
	}
	// .event-bot-event__info
	&__info {
		display: grid;
		align-items: center;
		grid-auto-flow: column;
		justify-items: center;
		gap: 8px;
		@media (max-width: $md3+px) {
			grid-auto-flow: row;
		}
	}
	// .event-bot-event__name
	&__name {
		@extend ._headline-5;
		@media (max-width: $md4+px) {
			font-size: 14px;
		}
	}
	// .event-bot-event__logo
	&__logo {
		width: 62px;
		height: 62px;
		img {
			max-width: 100%;
		}
		@media (max-width: $md3+px) {
			width: 40px;
			height: 40px;
		}
		@media (max-width: $md4+px) {
			width: 24px;
			height: 24px;
		}
	}
	// .event-bot-event__status
	&__status {
		@media (min-width: $md4+px) {
			br {
				display: none;
			}
		}
	}
}

.footer-bot-event {
	background-color: $bg-03;
	padding: 24px;
	border-radius: 4px 4px 0px 0px;
	display: grid;
	gap: 16px;
	&_p8 {
		padding: 8px 24px;
	}
	@media (max-width: $md3+px) {
		gap: 16px;
		padding: 16px 22px;
	}
	@media (max-width: $md4+px) {
		gap: 9px;
		padding: 16px;
	}
	// .footer-bot-event__row
	&__row {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 32px;
		@media (max-width: $md3+px) {
			grid-template-columns: auto;
			gap: 16px;
		}
		@media (max-width: $md4+px) {
			gap: 9px;
		}
	}
	// .footer-bot-event__column
	&__column {
	}
	// .footer-bot-event__label
	&__label {
		font-size: 12px;
		line-height: math.div(16px, 12px) * 100%;
		@media (max-width: $md4+px) {
			font-size: 10px;
		}
	}
	// .footer-bot-event__value
	&__value {
		@extend ._body;
		line-height: 120%;
		font-weight: 600;
		// .footer-bot-event__value_red
		&_red {
			@extend %gradient-button-text;
		}
	}
	// .footer-bot-event__button
	&__button {
		width: 100%;
	}
}
//========================================================================================================================================================
//? bot-banner
.bot-banner {
	// .bot-banner__body
	&__body {
		padding: 24px;
		background-color: $bg-03;
		border-radius: 4px;
		display: grid;
		gap: 16px;
	}
	// .bot-banner__header
	&__header {
		display: grid;
		gap: 2px;
		@media (max-width: $md3+px) {
			gap: 0;
		}
	}
	// .bot-banner__status
	&__status {
		font-weight: 600;
		font-size: 20px;
		line-height: math.div(26px, 20px) * 100%;
		@media (max-width: $md3+px) {
			font-size: 18px;
		}
		@media (max-width: $md4+px) {
			font-size: 16px;
		}
	}
	// .bot-banner__bid
	&__bid {
		font-size: 14px;
		line-height: math.div(24px, 14px) * 100%;
		span {
			font-size: 16px;
			line-height: math.div(26px, 16px) * 100%;
			font-weight: 500;
		}
	}
	// .bot-banner__received
	&__received {
		@extend .bot-banner__bid;
	}
	// .bot-banner__profit
	&__profit {
		@extend .bot-banner__bid;
	}
	// .bot-banner__main
	&__main {
		@media (min-width: $md4+px) {
			&:last-child {
				display: none;
			}
		}
		padding: 0px 0px 54.312% 0px;
		@media (max-width: 1200px) {
			padding: 0px 0px 37.38% 0px;
		}
		width: 100%;
		@media (max-width: $md3+px) {
			// min-height: 204px;
		}
		@media (max-width: $md4+px) {
			padding: 0px 0px 79.7% 0px;
			img {
				&:first-child {
					display: none;
				}
				&:last-child {
					display: block;
				}
			}
		}
		&_express {
			padding: 0px 0px 112% 0px;
			img {
				display: block !important;
			}
			@media (max-width: $md1+px) {
				padding: 0px 0px 77% 0px;
			}
			@media (max-width: $md3+px) {
				padding: 0px 0px 60% 0px;
			}
			@media (max-width: $md4+px) {
				padding: 0px 0px 80% 0px;
			}
		}
	}
	// .bot-banner__footer
	&__footer {
	}
	// .bot-banner__time
	&__time {
	}
}
//? bot-info
.bot-info {
	display: grid;
	gap: 32px;
	// .bot-info__body
	&__body {
		display: grid;
		gap: 32px;
		@media (max-width: $md3+px) {
			gap: 24px;
		}
		a {
			color: $link;
			text-decoration: none;
		}
	}
	// .bot-info__block
	&__block {
	}
	// .bot-info__label
	&__label {
		font-size: 16px;
		line-height: 120%;
		font-weight: 600;
		@media (max-width: $md3+px) {
			font-size: 14px;
		}
	}
	// .bot-info__text
	&__text {
		padding: 10px 0px 0px 0px;
		font-size: 16px;
		line-height: math.div(24px, 16px) * 100%;
		@media (max-width: $md3+px) {
			font-size: 14px;
		}
		@media (min-width: $md4+px) {
			br {
				display: none;
			}
		}
	}
}
// ? bot-coefficient
.bot-coefficient {
	@media (max-width: $md3+px) {
		margin: 0px 8px;
	}
	// .bot-coefficient__body
	&__body {
		display: grid;
		gap: 17px;
		@media (max-width: $md3+px) {
			gap: 24px;
		}
	}
	// .bot-coefficient__value
	&__value {
		font-weight: 600;
		font-size: 16px;
		line-height: math.div(18px, 16px) * 100%;
		@media (max-width: $md3+px) {
			font-size: 14px;
		}
	}
	// .bot-coefficient__button
	&__button {
		justify-self: start;
		@media (max-width: $md4+px) {
			width: 100%;
		}
	}
}
