.page_player {
	.page__row {
		&:not(:last-child) {
			margin: 0px 0px 0px 0px;
		}
	}
	@media (max-width: $md1+px) {
		//news-page
		.news-page {
			gap: 24px;
			.items-news {
				.item-news {
					&:nth-child(4) {
						display: none;
					}
				}
			}
		}
		.comments-block__sidebar.sidebar {
			display: none;
		}
	}
	@media (max-width: $md3+px) {
		.news-page {
			gap: 16px;
			.items-news {
				gap: 8px;
			}
		}
		.comments-block__sidebar.sidebar {
			display: block;
			margin: 0px auto;
			.sidebar__banner.banner {
				height: 304px;
				width: 304px;
				position: relative;
				margin: 0px auto;
				img {
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					object-fit: cover;
				}
			}
		}
		.comments-block__content{
			gap: 24px;
		}
	}
}
//========================================================================================================================================================

.about-player {
	display: grid;
	grid-template-columns: 320px 1fr;
	gap: 32px;
	@media (max-width: $md1+px) {
		grid-template-columns: 288px 1fr;
		row-gap: 24px;
	}
	@media (max-width: $md2+px) {
		grid-template-columns: auto;
	}
	// .about-player__main
	&__main {
	}
	// .about-player__info
	&__info {
		min-width: 0;
		display: grid;
		gap: 24px;
	}
	// .about-player__header
	&__header {
	}
	// .about-player__description
	&__description {
	}
	// .about-player__statistics
	&__statistics {
	}
	// .about-player__trophies
	&__trophies {
		min-width: 0;
	}
	@media (max-width: $md1+px) {
		.trophies {
			grid-column: span 2;
		}
	}
	@media (max-width: $md2+px) {
		.trophies {
			grid-column: span 1;
		}
	}
}
.main-about-player {
	background-color: $bg-03;
	// .main-about-player__photo
	&__photo {
		height: 404px;
		@media (max-width: $md1+px) {
			height: 357px;
		}
		@media (max-width: $md2+px) {
			max-width: 250px;
			height: 359px;
			margin: 0px auto;
		}
	}
}
.header-about-player {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	gap: 16px;
	@media (max-width: $md3+px) {
		grid-template-columns: auto;
	}
	// .header-about-player__main
	&__main {
		display: grid;
		row-gap: 10px;
	}
	// .header-about-player__line
	&__line {
		display: flex;
		align-items: center;
	}
	// .header-about-player__social
	&__social {
		&._social {
			._social__item {
				margin: 0px 4px 4px 4px;
			}
		}
	}
	// .header-about-player__flag
	&__flag {
		flex: 0 0 30px;
		width: 30px;
		height: 20px;
		img {
			max-width: 100%;
		}
	}
	// .header-about-player__info
	&__info {
		margin: 0px 0px 0px 10px;
		color: inherit;
		transition: color 0.3s ease 0s;
		br {
			display: none;
		}
		@media (max-width: $md1+px) {
			font-size: 18px;
		}
		@media (max-width: $md4+px) {
			font-size: 14px;
			br {
				display: block;
			}
		}
	}
	// .header-about-player__team
	&__team {
		flex: 0 0 30px;
		width: 30px;
		height: 30px;
		img {
			max-width: 100%;
		}
	}
}
a.header-about-player__info {
	@media (any-hover: hover) {
		&:hover {
			color: $link;
		}
	}
}
.statistics-player {
	display: grid;
	grid-auto-flow: column;
	gap: 24px;
	@media (max-width: $md2+px) {
		gap: 20px;
	}
	@media (max-width: $md3+px) {
		gap: 24px;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-flow: row;
	}
	// .statistics-player__item
	&__item {
		display: grid;
		grid-template-rows: auto 1fr auto;
		justify-items: center;
		gap: 1px;
	}
	// .statistics-player__label
	&__label {
		@media (max-width: $md4+px) {
			font-size: 10px;
		}
	}
	// .statistics-player__value
	&__value {
		@media (max-width: $md4+px) {
			font-size: 16px;
		}
	}
	// .statistics-player__diagram
	&__diagram {
		width: 100%;
	}
}
.diagram-statistics {
	width: 100%;
	height: 7px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	// .diagram-statistics__runner
	&__runner {
		width: 10px;
		height: 5px;
		position: relative;
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 5px solid transparent;
		}
		// .diagram-statistics__runner_success
		&_success {
			&::after {
				border-top: 5px solid $success;
			}
		}
		// .diagram-statistics__runner_secondary
		&_secondary {
			&::after {
				border-top: 5px solid $secondary;
			}
		}
		// .diagram-statistics__runner_fail
		&_fail {
			&::after {
				border-top: 5px solid $fail;
			}
		}
	}
	// .diagram-statistics__items
	&__items {
		display: flex;
		align-items: center;
	}
	// .diagram-statistics__item
	&__item {
		flex: 0 1 33.333%;
		height: 2px;
		// .diagram-statistics__item_success
		&_success {
			background-color: $success;
		}
		// .diagram-statistics__item_secondary
		&_secondary {
			background-color: $secondary;
		}
		// .diagram-statistics__item_fail
		&_fail {
			background-color: $fail;
		}
	}
}
//? player-statistics

.player-statistics {
	// .player-statistics__body
	&__body {
		display: grid;
		grid-template-columns: 31.75% 65.91%;
		gap: 32px;
		@media (max-width: $md1+px) {
			gap: 24px;
			grid-template-columns: 31.58% 65.8%;
		}
		@media (max-width: $md2+px) {
			grid-template-columns: auto;
		}
	}

	// .player-statistics__item
	&__item {
	}
}
.table-statistics-player {
	// .table-statistics-player__title
	&__title {
		&:not(:last-child) {
			margin: 0px 0px 16px 0px;
		}
		@media (max-width: $md1+px) {
			font-size: 18px;
		}
		@media (max-width: $md3+px) {
			font-size: 16px;
		}
	}
	// .table-statistics-player__columns
	&__columns {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 16px;
		@media (max-width: $md1+px) {
			gap: 24px;
		}
		@media (max-width: $md3+px) {
			grid-template-columns: auto;
			gap: 16px;
		}
	}
	// .table-statistics-player__body
	&__body {
		&_last {
			@media (max-width: $md3+px) {
				.table-statistics-player__line {
					background-color: $bg-03;
					&_bg {
						background-color: transparent;
					}
				}
			}
		}
	}
	// .table-statistics-player__line
	&__line {
		display: grid;
		grid-template-columns: 1fr auto;
		align-items: center;
		// .table-statistics-player__line_bg
		&_bg {
			background-color: $bg-03;
		}
		// .table-statistics-player__line_grid-3
		&_grid-3 {
			grid-template-columns: 1fr auto minmax(75px, auto);
		}
	}
	// .table-statistics-player__item
	&__item {
		min-height: 42px;
		padding: 8px;
		display: flex;
		align-items: center;
		@media (max-width: $md1+px) {
			padding: 7px;
		}
		@media (max-width: $md3+px) {
			font-size: 14px;
			min-height: 40px;
		}
		// .table-statistics-player__item_value
		&_value {
			justify-content: flex-end;
		}
	}
	// .table-statistics-player__name
	&__name {
		color: inherit;
		cursor: pointer;
	}
	// .table-statistics-player__activity
	&__activity {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0px 5px 0px 0px;
		img {
			width: 12px;
			height: 12px;
			overflow: hidden;
		}
	}
	// .table-statistics-player__value
	&__value {
	}
}
//? participation
.participation {
	// .participation__title
	&__title {
		&:not(:last-child) {
			margin: 0px 0px 24px 0px;
		}
		@media (max-width: $md3+px) {
			&:not(:last-child) {
				margin: 0px 0px 16px 0px;
			}
		}
	}
	// .participation__rows
	&__rows {
	}
	// .participation__row
	&__row {
		padding: 16px;
		display: grid;
		grid-template-columns: 31.75% 65.91%;
		align-items: center;
		gap: 32px;
		justify-content: space-between;
		@media (max-width: $md1+px) {
			grid-template-columns: repeat(2, 1fr);
		}
		@media (max-width: $md3+px) {
			grid-template-columns: 1fr;
			justify-content: center;
		}
		// .participation__row_bg
		&_bg {
			background-color: $bg-03;
		}
	}
	// .participation__item
	&__item {
		&:first-child {
			@media (max-width: $md3+px) {
				display: grid;
				justify-content: center;
			}
		}
	}
	// .participation__teams
	&__teams {
		display: grid;
		grid-template-columns: 62px 1fr;
		align-items: center;
		column-gap: 20px;
	}
	// .participation__logo
	&__logo {
		width: 62px;
		height: 62px;
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			max-width: 100%;
			max-height: 100%;
		}
	}
	// .participation__info
	&__info {
	}
	// .participation__team-name
	&__team-name {
		color: inherit;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $link;
			}
		}
		@media (max-width: $md4+px) {
			font-size: 14px;
		}
	}
	// .participation__dates
	&__dates {
		@media (max-width: $md4+px) {
			font-size: 10px;
		}
	}
	// .participation__statistics
	&__statistics {
	}
}
//? .winnings-block
.winnings-block {
	// .winnings-block__title
	&__title {
		&:not(:last-child) {
			margin: 0px 0px 20px 0px;
		}
	}
	// .winnings-block__main
	&__main {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 32px;
		@media (max-width: $md2+px) {
			grid-template-columns: 1fr;
		}
	}
	// .winnings-block__table
	&__table {
	}
}
.table-winnings-block {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;
	gap: 20px;
	// .table-winnings-block__item
	&__item {
	}
	// .table-winnings-block__trophy
	&__trophy {
		display: grid;
		grid-template-columns: 60px 1fr;
		align-items: center;
		column-gap: 9px;
		a {
			color: $link;
		}
		@media (max-width: $md2+px) {
			grid-template-columns: 50px 1fr;
		}
		@media (max-width: $md3+px) {
			grid-template-columns: 35px 1fr;
		}
		@media (max-width: $md4+px) {
			grid-template-columns: 24px 1fr;
		}
	}
	// .table-winnings-block__icon
	&__icon {
		width: 60px;
		height: 60px;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			max-width: 100%;
			max-height: 100%;
		}
		@media (max-width: $md2+px) {
			width: 50px;
			height: 50px;
		}
		@media (max-width: $md3+px) {
			width: 35px;
			height: 35px;
		}
		@media (max-width: $md4+px) {
			width: 24px;
			height: 24px;
		}
	}
	// .table-winnings-block__name
	&__name {
		line-height: math.div(26px, 16px) * 100%;
		@media (max-width: 1200px) {
			max-width: 180px;
		}
		@media (max-width: $md2+px) {
			max-width: 400px;
		}
		@media (max-width: $md3+px) {
			font-size: 14px;
		}
	}
	// .table-winnings-block__value
	&__value {
		@media (max-width: $md3+px) {
			font-size: 14px;
		}
	}
}
