//====================================================================================================
.popup {
	-webkit-overflow-scrolling: touch;
	z-index: 100;
	padding: 30px 10px;
	position: fixed;
	top: 0px;
	left: 0;
	height: 100%;
	width: 100%;
	transition: visibility 0.8s ease 0s;
	visibility: hidden;
	&::before {
		content: "";
		background-color: rgba(0, 0, 0, 0.9);
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		opacity: 0;
		transition: opacity 0.8s ease 0s;
	}
	&.show {
		height: 100%;
		visibility: visible;
		overflow: auto;
		&::before {
			opacity: 1;
		}
		.popup__body {
			transform: scale(1);
		}
	}
	&._active {
		height: 100%;
		overflow: auto;
		visibility: visible;
		&::before {
			opacity: 1;
		}
		.popup__body {
			transition: all 0.3s ease 0.2s;
			transform: scale(1);
		}
	}
	// .popup__content
	&__content {
		display: flex;
		flex-direction: column;
		align-items: center;
		min-height: 100%;
		flex: 1 1 auto;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// .popup__body
	&__body {
		transform: scale(0);
		transition: all 0.3s ease 0s;
		background-color: $bg-01;
		padding: 30px;
		width: 100%;
		max-width: 800px;
	}
	// .popup__close
	&__close {
		position: absolute;
		top: 0px;
		right: 0px;
		z-index: 30;
		width: 40px;
		height: 40px;
	}
	&_video {
		.popup__body {
			padding: 0;
			background-color: $bg-00;
		}
	}
	&_comment-link {
		.popup__body {
			max-width: 600px;
			@media (max-width: 600px) {
				padding: 16px;
			}
		}
	}
	&_comment-share {
		.popup__body {
			max-width: 300px;
		}
	}
	&_promocode {
		.popup__body {
			max-width: 430px;
		}
	}
	&_compare-bk {
		.popup__body {
			padding: 0;
			max-width: 670px;
		}
	}
	&_analytic {
		.popup__body {
			padding: 48px;
			max-width: 650px;
		}
	}
	&_compare-analytic {
		.popup__body {
			padding: 40px;
			max-width: 1085px;
		}
	}
}
//========================================================================================================================================================
.promocode-popup {
	padding: 10px 10px 40px 10px;
	display: grid;
	justify-content: center;
	text-align: center;
	// .promocode-popup__title
	&__title {
		margin: 0px 0px 32px 0px;
	}
	// .promocode-popup__form
	&__form {
		width: 244px;
	}
	// .promocode-popup__input
	&__input {
		margin: 0px 0px 16px 0px;
	}
}
//====================================================================================================
.comment-link-popup {
	display: inline-grid;
	gap: 16px;
	// .comment-link-popup__title
	&__title {
	}
	// .comment-link-popup__item
	&__item {
		display: inline-flex;
		flex-direction: row-reverse;
		&::before {
			margin: 0px 0px 0px 5px;
		}
	}
}
//====================================================================================================
.comment-share-popup {
	display: inline-grid;
	gap: 16px;
	// .share-link-popup__title
	&__title {
	}
	// .share-link-popup__item
	&__item {
	}
}
//========================================================================================================================================================
.compare-bk-popup {
	// .compare-bk-popup__header
	&__header {
		padding: 20px 16px;
		display: flex;
		align-items: center;
		@media (max-width: $md4+px) {
			justify-content: space-between;
		}
	}
	// .compare-bk-popup__title
	&__title {
		flex: 1 1 auto;
		@media (max-width: $md4+px) {
			max-width: 200px;
		}
	}
	// .compare-bk-popup__body
	&__body {
		padding: 32px 40px 40px 40px;
		@media (max-width: $md3+px) {
			padding: 16px;
		}
	}
	// .compare-bk-popup__items
	&__items {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		&:not(:last-child) {
			margin: 0px 0px 43px 0px;
		}
		@media (max-width: $md3+px) {
			flex-wrap: nowrap;
			overflow: auto;
			justify-content: flex-start;
			&:not(:last-child) {
				margin: 0px 0px 32px 0px;
			}
		}
	}
	// .compare-bk-popup__item
	&__item {
		margin: 5px 16px 5px 16px;
		@media (max-width: $md3+px) {
			&:first-child {
				margin: 5px 16px 5px 0px;
			}
		}
	}
	// .compare-bk-popup__content
	&__content {
		&:not(:last-child) {
			margin: 0px 0px 48px 0px;
		}
	}
	// .compare-bk-popup__text
	&__text {
	}
}
.item-compare-bk-popup {
	display: flex;
	align-items: center;
	cursor: pointer;
	opacity: 0.5;
	transition: opacity 0.3s ease 0s;
	position: relative;
	padding: 0px 0px 7px 0px;
	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 2px;
		bottom: 0;
		border-radius: 4px;
	}
	// .item-compare-bk-popup__logo
	&__logo {
		width: 80px;
		height: 30px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 4px;
		img {
			max-height: 22px;
			max-width: 100%;
		}
	}
	// .item-compare-bk-popup__delete
	&__delete {
		&::before {
			font-size: 16px;
			width: 16px;
			height: 16px;
		}
	}

	&:hover {
		opacity: 1;
	}

	&:nth-child(1) {
		&::after {
			background-color: $gold;
		}
	}
	&:nth-child(2) {
		&::after {
			background-color: $fail;
		}
	}
	&:nth-child(3) {
		&::after {
			background-color: $success;
		}
	}
	&:nth-child(4) {
		&::after {
			background-color: $link;
		}
	}
}
.content-compare-bk-popup {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 32px;
	@media (max-width: $md3+px) {
		grid-template-columns: auto;
	}
	// .content-compare-bk-popup__item
	&__item {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 24px;
		align-items: center;
		@media (max-width: $md3+px) {
			grid-template-columns: math.div(120, 272) * 100% math.div(128, 272) * 100%;
		}
	}
	// .content-compare-bk-popup__label
	&__label {
		text-align: right;
		@extend ._body_strong;
	}
	// .content-compare-bk-popup__values
	&__values {
		display: grid;
		gap: 8px;
	}
	// .content-compare-bk-popup__value
	&__value {
		position: relative;
		height: 8px;
		opacity: 0.25;
		transition: opacity 0.3s ease 0s;
		&::before {
			content: "";
			border-radius: 4px;
			border: 1px solid #3b5c7b;
			position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
		}
		span {
			position: absolute;
			height: 100%;
			border-radius: 4px;
			top: 0;
			left: 0;
		}
		&._active {
			opacity: 1;
		}
		&:nth-child(1) {
			span {
				background-color: $gold;
			}
		}
		&:nth-child(2) {
			span {
				background-color: $fail;
			}
		}
		&:nth-child(3) {
			span {
				background-color: $success;
			}
		}
		&:nth-child(4) {
			span {
				background-color: $link;
			}
		}
	}
}
//========================================================================================================================================================
.analytic-popup {
	// .analytic-popup__title
	&__title {
		&:not(:last-child) {
			margin: 0px 0px 16px 0px;
		}
	}
	// .analytic-popup__text
	&__text {
		&:not(:last-child) {
			margin: 0px 0px 56px 0px;
		}
	}
	// .analytic-popup__sub-title
	&__sub-title {
		&:not(:last-child) {
			margin: 0px 0px 16px 0px;
		}
	}
	// .analytic-popup__list
	&__list {
		&:not(:last-child) {
			margin: 0px 0px 56px 0px;
		}
	}
	// .analytic-popup__button
	&__button {
		width: 100%;
	}
}

//========================================================================================================================================================
.popup_compare-analytic {
	.popup__body {
		@media (max-width: $md2+px) {
			padding: 16px;
		}
	}
}
.compare-analytic-popup {
	overflow: auto;
	@media (max-width: $md2+px) {
		margin: 0px -16px 0px 0px;
	}
	// .compare-analytic-popup__menu
	&__menu {
		padding: 0px 0px 15px 0px;
		border-bottom: 1px solid $bg-04;
		&:not(:last-child) {
			margin: 0px 0px 16px 0px;
		}
	}
}
.table-compare-analytic-popup {
	display: grid;
	grid-template-columns: 141px repeat(auto-fill, 208px);
	align-items: start;
	gap: 8px;
	@media (max-width:$md1+px){
		  min-width: 1005px;
	}
	@media (max-width:$md2+px){
		padding: 0px 0px 16px 0px;
		grid-template-columns: 141px repeat(auto-fill, 200px);
	}
	@media (max-width:$md3+px){
		min-width: 890px;
		grid-template-columns: 110px repeat(auto-fill, 180px);
	}
	// .table-compare-analytic-popup__column
	&__column {
		display: grid;
		grid-template-rows: 219px auto;
		gap: 16px;
		@media (max-width: $md1+px) {
			grid-template-rows: 199px auto;
		}
		@media (max-width: $md2+px) {
			grid-template-rows: 138px auto;
		}
	}
	// .table-compare-analytic-popup__label
	&__label {
		min-height: 40px;
		display: flex;
		align-items: center;
		padding: 4px 8px;
		&::before {
			flex: 0 0 31px;
			height: 31px;
			margin: 0px 4px 0px 0px;
		}
		&:nth-child(even) {
			background-color: $bg-03;
		}
		@media (max-width: $md2+px) {
			min-height: 26px;
			&::before {
				flex: 0 0 16px;
				height: 16px;
				font-size: 18px;
				margin: 0px 4px 0px 0px;
			}
		}
		@media (max-width:$md3+px){
			 padding: 4px; 
		}
	}
	// .table-compare-analytic-popup__main
	&__main {
		text-align: center;
		padding: 0px 5px 0px 5px;
	}
	// .table-compare-analytic-popup__user
	&__user {
		&:not(:last-child) {
			margin: 0px 0px 8px 0px;
		}
	}
	// .table-compare-analytic-popup__rating
	&__rating {
		&:not(:last-child) {
			margin: 0px 0px 20px 0px;
		}
		@media (max-width: $md2+px) {
			.rating__item {
				width: 12px;
				height: 12px;
				flex: 0 0 12px;
			}
			.rating__value {
				font-size: 12px;
			}
		}
	}
	// .table-compare-analytic-popup__avatar
	&__avatar {
		@media (max-width: $md1+px) {
			._avatar__image {
				width: 100px;
				height: 100px;
			}
		}
		@media (max-width: $md2+px) {
			._avatar__image {
				width: 72px;
				height: 72px;
			}
		}
	}
	&__items {
	}
	// .table-compare-analytic-popup__item
	&__item {
		min-height: 40px;
		padding: 8px 12px;
		display: flex;
		justify-content: center;
		align-items: center;
		&:nth-child(even) {
			background-color: $bg-03;
		}
		@media (max-width: $md2+px) {
			min-height: 28px;
			padding: 4px 12px;
		}
		@media (max-width:$md3+px){
			  padding: 4px 4px;
		}
		span {
			&::before {
				width: 16px;
				height: 16px;
				flex: 0 0 16px;
				font-size: 18px;
			}
		}
	}
	// .table-compare-analytic-popup__action
	&__action {
		text-align: center;
		&:not(:last-child) {
			margin: 0px 0px 8px 0px;
		}
	}
	// .table-compare-analytic-popup__button
	&__button {
		width: 100%;
		@media (max-width:$md3+px){
			 &.button{
				padding: 0px 4px;
			 } 
		}
	}
	// .table-compare-analytic-popup__remove
	&__remove {
	}
}
//========================================================================================================================================================
