.page__content_rating-bk {
	@media (max-width: $md2+px) {
		overflow: auto;
	}
}

.page__header_rating-bk {
	@media (max-width: 860px) {
		padding: 32px 0px 0px 0px;
	}
	@media (max-width: $md3+px) {
		&:not(:last-child) {
			margin: 0px 0px 33px 0px;
		}
	}
}
.rating-bk {
	@media (max-width: $md2+px) {
		min-width: 830px;
	}
}
//========================================================================================================================================================
.header-rating-bk {
	position: relative;
	// .header-rating-bk__title
	&__title {
		// display: inline-flex;
		display: flex;
		align-items: center;
		flex-direction: row-reverse;
		justify-content: space-between;
		max-width: 352px;
		min-height: 40px;
		background-color: $bg-02;
		cursor: pointer;
		margin: 0px 0px 16px 0px;
		padding: 4px 16px;
		&::before {
			// color: inherit;
			// margin: 0px 16px 0px 0px;
			content: "";
			display: inline-block;
			transition: all 0.3s ease 0s;
			width: 24px;
			height: 24px;
			background: url("../img/icons/select.svg") center/10px no-repeat;
		}
		@media (max-width: 1200px) {
			font-size: 16px;
			font-weight: 500;
		}

		@media (max-width: $md3+px) {
			max-width: none;
			margin: 0px -8px;
			padding: 4px 16px 4px 16px;
			&::before {
				font-family: "icons";
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				content: "\e954";
				display: flex;
				font-size: 28px;
				color: $secondary;
				justify-content: center;
				align-items: center;
				transition: all 0.3s ease 0s;
				width: 24px;
				height: 24px;
				background: none;
			}
		}
	}
	// .header-rating-bk__menu
	&__menu {
		transition: all 0.3s ease 0s;
		opacity: 0;
		visibility: hidden;
		transform: translate(0px, 10px);
		position: absolute;
		top: 100%;
		max-width: 350px;
		left: 0;
		background-color: $bg-03;
		border-radius: 4px;
		padding: 16px 8px;
		z-index: 5;
		box-shadow: 0px 0px 60px #0f1526;
		&._active {
			opacity: 1;
			visibility: visible;
			transform: translate(0px, 0px);
		}
		@media (max-width: $md3+px) {
			max-width: none;
			width: 100vw;
			margin: 0px -8px;
			top: calc(100% + 8px);
			padding: 0px;
		}
	}
	// .header-rating-bk__list
	&__list {
		display: inline-grid;
		//gap: 8px;
		li {
			@media (any-hover: hover) {
			}
		}
		@media (max-width: $md3+px) {
			display: grid;
		}
	}
	// .header-rating-bk__link
	&__link {
		@extend ._body;
		@extend ._label;
		transition: all 0.3s ease 0s;
		display: flex;
		align-items: center;
		border-radius: 4px;
		min-height: 40px;
		padding: 0px 16px;
		&_mob{	
		}
		@media (any-hover: hover) {
			&:hover {
				opacity: 1;
				background-color: $bg-02;
			}
		}
		@media (max-width: $md2+px) {
			&._active {
				opacity: 1;
				color: $secondary;
			}
		}
		@media (max-width: $md3+px) {
			opacity: 1;
			&:hover {
				opacity: 0.5;
				color: $secondary;
			}
			padding: 0px 16px 0px 32px;
			span {
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 1;
				overflow: hidden;
			}
		}
	}
}
//========================================================================================================================================================
.table-rating-bk {
	display: grid;
	overflow: hidden;
	grid-template-columns: repeat(6, auto) 1fr;
	row-gap: 8px;
	// .table-rating-bk__title
	&__title {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0px 16px 8px 16px;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		margin: 0px 0px 8px 0px;
		&_last {
			justify-content: flex-end;
			padding: 0px 0px 8px 16px;
		}
		@media (max-width: 1200px) {
			padding: 0px 10px 0px 10px;
			justify-content: flex-start;
			border-bottom: none;
			margin: 0;
			&_last {
				justify-content: flex-end;
			}
		}
		@media (max-width: $md2+px) {
			padding: 0px 8px 0px 8px;
			font-size: 12px;
			margin: 0;
		}
	}
	&__show-compare {
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s ease 0s;
		&._active {
			opacity: 1;
			visibility: visible;
		}
		@media (max-width: $md2+px) {
			min-height: 32px;
		}
	}
	// .table-rating-bk__sort
	&__sort {
		@extend ._label;
		display: flex;
		flex-direction: row-reverse;
		transition: all 0.3s ease 0s;

		@media (any-hover: hover) {
			&:hover {
				opacity: 1;
			}
		}
		&._active {
			opacity: 1;
			&::before {
				@extend %ic;
				width: 24px;
				display: flex;
				justify-content: center;
				align-items: center;
				height: 24px;
				font-size: 18px;
				@extend ._icon-21;
				color: inherit;
			}
		}
		&._active_up {
			&::before {
				@extend ._icon-22;
			}
		}

		@media (max-width: $md2+px) {
			font-size: 12px;
			align-items: center;
		}
	}
	// .table-rating-bk__item
	&__item {
		padding: 16px;
		background-color: $bg-03;
		min-height: 72px;
		display: flex;
		justify-content: center;
		align-items: center;
		@extend ._body_strong;
		position: relative;
		&_first {
			position: relative;
			border-radius: 4px 0 0 4px;
			&._hover {
				&::before {
					content: "";
					position: absolute;
					width: 1000vw;
					height: 100%;
					background: rgba(59, 92, 123, 0.15);
					top: 0px;
					left: 0px;
					z-index: 2;
					border-radius: 4px;
					pointer-events: none;
					border: 1px solid #3b5c7b;
				}
			}
		}
		&_last {
			justify-content: flex-end;
			border-radius: 0px 4px 4px 0;
			&._hover {
				&::after {
					content: "";
					position: absolute;
					right: 0;
					top: 0;
					width: 10px;
					height: 100%;
					border: 1px solid #3b5c7b;
					border-left: none;
					border-radius: 0px 4px 4px 0;
					background-color: #1c283d;
					z-index: 3;
					pointer-events: none;
				}
				&::before {
					content: "";
					position: absolute;
					width: 10px;
					height: 100%;
					top: 0;
					right: 0;
					z-index: 2;
					pointer-events: none;
					background-color: $bg-03;
				}
			}
		}
		@media (max-width: 1200px) {
			padding: 16px 8px;
			&_first {
				padding: 16px 8px 16px 16px;
			}
			&_last {
				padding: 16px 16px 8px 8px;
			}
		}
		@media (max-width: $md2+px) {
			min-height: 64px;
			padding: 8px;
			font-size: 14px;
			&_first {
				padding: 8px 8px 8px 10px;
			}
			&_last {
				padding: 8px 10px 8px 8px;
			}
		}
	}
	// .table-rating-bk__logo
	&__logo {
		display: inline-block;
		max-width: 70px;
		img {
			max-width: 100%;
		}
		@media (max-width: $md2+px) {
			min-width: 73px;
		}
	}
	// .table-rating-bk__rating
	&__rating {
		display: flex;
		align-items: center;
		&::before {
			color: $gold;
			margin: 0px 8px 0px 0px;
		}
	}
	// .table-rating-bk__reviews
	&__reviews {
		display: flex;
		align-items: center;
		&::before {
			margin: 0px 8px 0px 0px;
		}
	}
	// .table-rating-bk__actions
	&__actions {
		display: flex;
		min-width: 245px;
		@media (max-width: $md2+px) {
			min-width: 225px;
			.button {
				min-height: 32px;
				font-size: 14px;
			}
		}
	}
	// .table-rating-bk__compare
	&__compare {
		margin: 0px 0px 0px 16px;
		&._active {
			opacity: 1;
			visibility: visible;
		}
		small {
			font-size: inherit;
			&:last-child {
				display: none;
			}
		}
		&._active {
			//pointer-events: none;
			span {
				@extend %gradient-button;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				&::before {
					@extend ._icon-105;
				}
			}
			small {
				display: none;
				&:last-child {
					display: block;
				}
			}
		}
		@media (max-width: $md2+px) {
			font-size: 14px;
		}
	}
	&__bonus {
		display: flex;
		align-items: center;
		position: relative;
		&::before {
			color: $gold;
			margin: 0px 8px 0px 0px;
		}
		small {
			position: absolute;
			top: 0%;
			transform: translate(0px, -100%);
			left: 0;
			width: 100%;
			text-align: center;
			@extend ._caption_small;
			@extend %gradient-button-text;
		}
		@media (max-width: $md2+px) {
			font-size: 14px;
		}
	}
}
//========================================================================================================================================================
.rating-bk-text {
	padding: 16px 0px 0px 0px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
	// .rating-bk-text__item
	&__item {
		// .rating-bk-text__item_big
		&_big {
			grid-column: span 2;
		}
	}
	// .rating-bk-text__title
	&__title {
		margin: 0px 0px math.div(16px, 20px) * 1em 0px;
	}
	// .rating-bk-text__text
	&__text {
	}
	@media (max-width: $md1+px) {
		grid-template-columns: 1fr 365px;
		row-gap: 32px;
		column-gap: 28px;
		> * {
			&:nth-child(1) {
				order: 1;
			}
			&:nth-child(2) {
				order: 2;
			}
			&:nth-child(3) {
				order: 3;
			}
			&:nth-child(4) {
				order: 6;
			}
			&:nth-child(5) {
				order: 5;
			}
			&:nth-child(6) {
				order: 4;
			}
		}

		&__item {
			// .rating-bk-text__item_big
			&_big {
				grid-column: span 1;
			}
			&:last-child {
				display: none;
			}
		}
		.page__sidebar {
			justify-content: end;
			grid-row: span 3;
		}
	}
	@media (max-width: $md2+px) {
		.page__sidebar {
			display: none;
		}
		grid-template-columns: auto;
		&__item {
			&:nth-child(1) {
				order: 1;
			}
			&:nth-child(2) {
				order: 2;
			}
			&:nth-child(3) {
				order: 3;
			}
			&:nth-child(4) {
				order: 4;
			}
			&:nth-child(5) {
				order: 5;
			}
			&:nth-child(6) {
				order: 6;
			}
			&:nth-child(7) {
				order: 7;
			}
			&:last-child {
				display: block;
			}
		}
	}
}
//========================================================================================================================================================
.other-bk {
	background-color: $bg-03;
	padding: 24px 16px 16px 16px;
	border-radius: 4px;
	@media (max-width: 1200px) {
		padding: 16px;
	}
	@media (max-width: $md3+px) {
		margin: 0px 0px 16px 0px;
	}
	@media (max-width: $md4+px) {
		margin: 0px 0px 8px 0px;
	}
	// .other-bk__title
	&__title {
		text-align: center;
		&:not(:last-child) {
			margin: 0px 0px 24px 0px;
		}
		@media (max-width: $md2+px) {
			font-size: 20px;
		}
	}
	// .other-bk__items
	&__items {
		display: grid;
		gap: 8px;
		&:not(:last-child) {
			margin: 0px 0px 32px 0px;
		}
		@media (max-width: $md3+px) {
			gap: 0;
		}
	}
	// .other-bk__item
	&__item {
		color: inherit;
		padding: 8px 16px;
		display: grid;
		grid-template-columns: 1fr auto;
		align-items: center;
		gap: 10px;
		@media (max-width: 1200px) {
			padding: 6px 16px;
		}
	}
	// .other-bk__logo
	&__logo {
		max-width: 145px;
		height: 54px;
		display: flex;
		padding: 5px;
		justify-content: center;
		align-items: center;
		img {
			max-width: 100%;
			max-height: 44px;
		}
	}
	// .other-bk__rating
	&__rating {
	}

	// .other-bk__footer
	&__footer {
		text-align: center;
	}
}

//========================================================================================================================================================
.sidebar_page-bk {
	@media (max-width: $md1+px) {
		display: grid;
		gap: 24px;
		grid-template-columns: 288px 1fr;
		padding: 64px 0px 0px 0px;
		.other-bk {
			align-self: start;
		}
	}
	@media (max-width: $md2+px) {
		padding: 48px 0px 0px 0px;
	}
	@media (max-width: $md3+px) {
		padding: 24px 0px 0px 0px;
		display: block !important;
	}
	@media (max-width: $md4+px) {
		padding: 8px 0px 0px 0px;
	}
}
.page__breadcrumbs_page-bk {
	@media (max-width: $md2+px) {
		padding: 16px 0px 0px 0px;
	}
}
.page-bk {
	// .page-bk__section
	&__section {
		&:not(:last-child) {
			margin: 0px 0px 30px 0px;
		}
	}
	// .page-bk__body
	&__body {
		background-color: $bg-03;
		backdrop-filter: 4px;
		padding: 48px;
		display: grid;
		grid-template-columns: math.div(400, 928) * 100% math.div(480, 928) * 100%;
		gap: 48px;
		@media (max-width: 1200px) {
			grid-template-columns: math.div(400, 816) * 100% math.div(368, 816) * 100%;
		}
		@media (max-width: $md2+px) {
			grid-template-columns: auto;
		}
		@media (max-width: $md3+px) {
			padding: 16px;
		}
	}
	// .page-bk__main
	&__main {
		position: relative;
	}
	// .page-bk__cupis
	&__cupis {
		position: absolute;
		left: 0;
		top: 0;
		align-items: center;
		background-color: $success;
		color: $primary-dark;
		display: inline-flex;
		padding: 4px 8px;
		border-radius: 4px;
		&::before {
			width: 16px;
			margin: 0px 4px 0px 0px;
			height: 16px;
			font-size: 14px;
			color: inherit;
		}
	}
	// .page-bk__logo
	&__logo {
		height: 150px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px;
		&:not(:last-child) {
			margin: 0px 0px 24px 0px;
		}
		img {
			max-width: 100%;
			max-height: 130px;
		}
		@media (max-width: $md3+px) {
			height: 130px;
			padding: 0;
			&:not(:last-child) {
				margin: 0px 0px 8px 0px;
			}
			img {
				max-width: 100%;
				max-height: 99px;
			}
		}
		@media (max-width: $md4+px) {
			height: 102px;
			img {
				max-width: 100%;
				max-height: 43px;
			}
		}
	}
	// .page-bk__button
	&__button {
		width: 100%;
	}
	// .page-bk__label
	&__label {
		padding: 32px 0px 0px 0px;
		@media (max-width: $md3+px) {
			font-size: 18px;
		}
	}
	// .page-bk__ratings
	&__ratings {
		padding: 16px 0px 0px 0px;
	}
	// .page-bk__text
	&__text {
	}
	// .page-bk__title
	&__title {
		@media (max-width: $md3+px) {
			margin: 0px 0px 8px 0px;
		}
	}
}
.ratings-page-bk {
	display: grid;
	grid-template-columns: 1fr 1fr;
	column-gap: 20px;
	row-gap: 16px;
	@media (max-width: $md4+px) {
		column-gap: 16px;
		row-gap: 8px;
		grid-template-columns: 1fr auto;
	}
	// .ratings-page-bk__item
	&__item {
		@extend ._body;
	}
	// .ratings-page-bk__value
	&__value {
		@extend ._body_strong;
		@media (max-width: 1200px) {
			.rating__value {
				font-size: 16px;
			}
		}
		@media (max-width: $md4+px) {
			.rating__value {
				font-size: 12px;
			}
			.rating__item {
				width: 14px;
				height: 14px;
				&:nth-child(2),
				&:nth-child(3),
				&:nth-child(4),
				&:nth-child(5) {
					display: none;
				}
			}
		}
	}
}
