.tippy-box[data-animation="fade"][data-state="hidden"] {
	opacity: 0;
}
[data-tippy-root] {
	max-width: calc(100vw - 10px);
}
.tippy-box {
	position: relative;
	background-color: $bg-04;
	color: #fff;
	border-radius: 4px;
	@extend ._body_small;
	outline: 0;
	transition-property: transform, visibility, opacity;
}
.tippy-box[data-placement^="top"] > .tippy-arrow {
	bottom: 0;
}
.tippy-box[data-placement^="top"] > .tippy-arrow:before {
	bottom: -7px;
	left: 0;
	border-width: 8px 8px 0;
	border-top-color: initial;
	transform-origin: center top;
}
.tippy-box[data-placement^="bottom"] > .tippy-arrow {
	top: 0;
}
.tippy-box[data-placement^="bottom"] > .tippy-arrow:before {
	top: -7px;
	left: 0;
	border-width: 0 8px 8px;
	border-bottom-color: initial;
	transform-origin: center bottom;
}
.tippy-box[data-placement^="left"] > .tippy-arrow {
	right: 0;
}
.tippy-box[data-placement^="left"] > .tippy-arrow:before {
	border-width: 8px 0 8px 8px;
	border-left-color: initial;
	right: -7px;
	transform-origin: center left;
}
.tippy-box[data-placement^="right"] > .tippy-arrow {
	left: 0;
}
.tippy-box[data-placement^="right"] > .tippy-arrow:before {
	left: -7px;
	border-width: 8px 8px 8px 0;
	border-right-color: initial;
	transform-origin: center right;
}
.tippy-box[data-inertia][data-state="visible"] {
	transition-timing-function: cubic-bezier(0.54, 1.5, 0.38, 1.11);
}
.tippy-arrow {
	width: 16px;
	height: 16px;
	color: $bg-04;
}
.tippy-arrow:before {
	content: "";
	position: absolute;
	border-color: transparent;
	border-style: solid;
}
.tippy-content {
	position: relative;
	padding: 5px 9px;
	z-index: 1;
	text-align: center;
}

.tip-rating {
	display: grid;
	grid-template-columns: 1fr auto;
	column-gap: 16px;
	align-items: center;
	padding: 11px 7px;
	row-gap: 10px;
	&__label {
		@extend ._caption;
	}
	&__item {
		display: flex;
		align-items: center;
		@extend ._body_xs-strong;
		&::before {
			color: $gold;
			width: 16px;
			height: 16px;
			font-size: 14px;
			margin: 0px 4px 0px 0px;
		}
	}
}
.tip-icon {
	display: flex;
	align-items: center;
	&::before {
		width: 16px;
		height: 16px;
		font-size: 15px;
		line-height: 1;
		position: relative;
		top: -1px;
		margin: 0px 4px 0px 0px;
		color: inherit;
	}
}
.tippy-currency {
	width: 208px;
	padding: 11px 7px;
	// .tippy-currency__item
	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		&:not(:last-child) {margin: 0px 0px 8px 0px;};
	}
	// .tippy-currency__name
	&__name {
		@extend ._caption;
	}
	// .tippy-currency__value
	&__value {
		@extend ._body_small-strong;
	}
}
