//  $bg-button-hover-white-015: rgba(255, 255, 255, 0.25);
//  $green-1: #00A938;
// $fail-1:  #EB0000;
// $green-2: #00FFA3;

//Изменил файл _popap.html, добавил свои попапы

// картинки
// img/flags/01.png
// img/flags/02.png
// img/flags/03.png
// img/teams/01-big.png
// img/teams/02-big.png
// img/teams/03-big.png
// img/teams/04-big.png
// img/teams/05-big.png
// img/teams/06-big.png
// img/teams/02-big-200.png
// img/broadcasts/01.jpg
// img/avatar-icons.jpg
// img/trophies/01.png
// img/trophies/02.png
// img/trophies/03.png
// img/trophies/04.png
// img/players/03.png
// img/players/04.png
// img/players/05.png
// img/fag/01.png
// img/fag/02.png
// img/rocket.svg
// img/translation/01.jpg
// img/translation/02.jpg

// создано tournaments.scss
// создано tournament.scss
// создано ui_ruslan.scss
// создано commants.scss

//создано ruslan.js
//========================================================================================================================================================
._container-1072 {
	max-width: 1072px;
	padding: 0 15px;
	margin: 0 auto;
	box-sizing: content-box;
}
//========================================================================================================================================================

//! _label
._label {
	&_xs {
		@extend ._body_xs;
	}
}
//! .day-mach
.day-mach {
	// .day-mach_h100
	&_h100 {
		height: 100%;
		align-content: space-between;
	}
	// .day-mach_h538
	&_h538 {
		height: 538px;
		align-content: space-between;
	}
	// .day-mach_h430
	&_h430 {
		height: 430px;
		align-content: space-between;
	}
	// .day-mach__footer

	&__footer {
		display: grid;
	}
}
//! page
.page {
	// .page__body
	&__body {
		&_3256 {
			padding: 32px 32px 56px 32px;
			@media (max-width: $md1+px) {
				padding: 24px 9px 32px 9px;
			}
			@media (max-width: $md2+px) {
				padding: 60px 0px 32px 0px;
			}
			@media (max-width: $md3+px) {
				padding: 48px 0px 32px 0px;
			}
		}
	}
	// .page__sub-title
	&__sub-title {
	}
	// .page__row
	&__row {
		&_no-m {
			margin: 0;
			&:not(:last-child) {
				margin: 0 !important;
			}
		}
	}
	// .page__content
	&__content {
		min-width: 0;
		&_ml {
			margin-left: 12px;
			@media (max-width: $md2+px) {
				margin-left: 0px;
			}
		}
		&_mr12 {
			margin-right: 12px;
			@media (max-width: $md1+px) {
				margin-right: 0px;
			}
			@media (max-width:$md3+px){
				 padding: 0px 8px; 
			}
		}
		&_mr3 {
			margin-right: 3px;
		}
		&_24 {
			display: grid;
			gap: 24px;
		}
	}
	// .page__main
	&__main {
		display: grid;
		grid-template-columns: 191px 1fr 320px;
		align-items: start;
		gap: 32px;
		min-width: 0;
		&:not(:last-child) {
			margin: 0px 0px 32px 0px;
		}
		&_191 {
			grid-template-columns: 191px 1fr;
		}
		&_215 {
			gap: 20px;
			grid-template-columns: 215px 1fr 320px;
		}
		@media (max-width: $md1+px) {
			grid-template-columns: 191px 1fr;
		}
		@media (max-width: $md2+px) {
			grid-template-columns: auto;
			gap: 8px;
		}
		@media (max-width: $md3+px) {
			margin: 0px -8px;
			.page__sidebar {
				display: none;
			}
		}
	}
	// .page__nav
	&__nav {
		display: grid;
		gap: 64px;
	}
}
//!._table
._table {
	// ._table__status
	&__status {
		&_radius {
			&::before {
				content: "";
				position: absolute;
				width: 3px;
				height: 100%;
				left: 0;
				top: 0;
				opacity: 1;
				border-radius: 3px 0 0 3px;
			}
		}
		&_opacity {
			&::before {
				opacity: 1;
			}
		}
	}
	// ._table__status
	&__status {
		&_radius {
			&::before {
				content: "";
				position: absolute;
				width: 3px;
				height: 100%;
				left: 0;
				top: 0;
				opacity: 1;
				border-radius: 3px 0 0 3px;
				z-index: 40;
			}
		}
		&_opacity {
			&::before {
				opacity: 1;
			}
		}
	}
	// ._table__status-r
	&__status-r {
		&::before {
			content: "";
			position: absolute;
			width: 4px;
			height: 100%;
			right: 1px;
			top: 0;
			opacity: 0.25;
			z-index: 2;
		}
		// ._table__status_fail
		&_fail {
			&::before {
				background-color: $fail;
			}
		}
		&_win {
			&::before {
				background-color: $success;
			}
		}
		&_cancel {
			&::before {
				background-color: $important;
			}
		}
		&_opacity {
			&::before {
				opacity: 1;
			}
		}
	}
	&__status-rs {
		&::before {
			content: "";
			position: absolute;
			width: 4px;
			height: 100%;
			right: 1px;
			top: 0;
			opacity: 0.25;
			z-index: 2;
		}
		// ._table__status_fail
		&_fail {
			&::before {
				background-color: #eb0000;
			}
		}
		&_win {
			&::before {
				background-color: #00a938;
			}
		}
		&_cancel {
			&::before {
				background-color: $important;
			}
		}
		&_opacity {
			&::before {
				opacity: 1;
			}
		}
	}
}
._link {
	&_icon-s {
		&::before {
			@extend %ic;
			font-size: 20px;
		}
	}
}
//!_content-filter
._content-filter {
	// ._content-filter__item
	&__item {
		&._disabled {
			opacity: 0.33;
			cursor: default;
		}
		span {
			padding: 0px 0px 0px 4px;
		}
	}
}
//!  _social
._social {
	&__item_24 {
		width: 44px;
		height: 44px;
	}
}
//! .input
.input {
	// .input__row
	&__row {
		display: inline-grid;
		grid-template-columns: minmax(auto, 320px) auto;
		align-items: center;
		gap: 16px;
	}
	// .input__line
	&__line {
		&_area {
			.input__value {
				&_h128 {
					min-height: 128px;
				}
			}
		}
	}
	// .input__icon
	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
		&::before {
			color: #fff;
			margin: 0px 8px 0px 0px;
		}
		@media (max-width: $md3+px) {
			&::before {
				flex: 0 0 18px;
				width: 18px;
				height: 18px;
				font-size: 18px;
			}
		}
	}
}
//! _avatar
._avatar {
	position: relative;
	display: inline-block;
	&_small-b {
		._avatar__image {
			width: 56px;
			height: 56px;
		}
	}
}
// !
._info-line {
	// ._info-line__item
	&__item {
		&_big {
			&::before {
				width: 24px;
				height: 24px;
				margin: 0px 4px 0px 0px;
			}
		}
	}
}
//?._disabled
._disabled {
	opacity: 0.33;
	cursor: default;
	pointer-events: none;
	&_opacity {
		opacity: 0.05;
	}
}
//? _statistics
._statistics {
	display: grid;
	grid-template-columns: repeat(5, 8px);
	grid-template-rows: repeat(3, 5px);
	gap: 1px;
	// ._statistics__item
	&__item {
		border-radius: 2px;
		// ._statistics__item_green
		&_green {
			background-color: $green-1;
		}
		// ._statistics__item_none
		&_none {
			background-color: transparent;
		}
		// ._statistics__item_red
		&_red {
			background-color: $fail-1;
		}
	}
}

//? _counter
._counter {
	display: grid;
	column-gap: 4px;
	grid-auto-flow: column;
	align-items: center;
	justify-items: center;
	@extend ._body_strong;
	// ._counter__item
	&__item {
		// ._counter__item_succes
		&_succes {
			color: $green-1;
		}
		// ._counter__item_fail
		&_fail {
			color: $fail-1;
		}
	}
}
//? добавил _hover-link
._hover-link {
	transition: color 0.3s ease 0s;
	color: inherit;
	@media (any-hover: hover) {
		&:hover {
			color: $link;
		}
	}
}
//? _flex
._flex {
	display: flex;
	align-items: center;
	&_icon {
		&::before {
		}
	}
	&_icon-r {
		justify-content: flex-end;
		flex-direction: row-reverse;
		&::before {
			margin: 0px 0px 0px 8px;
		}
	}
	&_jc-sb {
		justify-content: space-between;
	}
	&_jc-center {
		justify-content: center;
	}
}
//? _item-status
._item-status {
	flex: 0 0 24px;
	height: 24px;
	@extend %ic;
	font-size: 24px;
	width: 24px;
	&_yes {
		color: $success;
		@extend ._icon-99;
	}
	&_no {
		color: $fail;
		@extend ._icon-100;
	}
	&_expectation {
		color: $important;
		@extend ._icon-69;
	}
	&_not-selected {
		color: $secondary;
		@extend ._icon-15;
	}
}
//? _block-title
._block-title {
	display: grid;
	grid-auto-flow: column;
	gap: 24px;
	margin: 0px 0px 16px 0px;
	&_center {
		text-align: center;
	}
	// ._block-title__title
	&__title {
	}
}
._text-block {
	margin: 0px 0px 32px 0px;
	@extend ._body;
}
//? _pagging
._pagging {
	display: inline-flex;
	justify-content: center;
	// ._pagging__arrow
	&__arrow {
		width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		// ._pagging__arrow_prev
		&_prev {
		}
		// ._pagging__arrow_next
		&_next {
		}
	}
	// ._pagging__list
	&__list {
		display: flex;
		align-items: center;
		margin: 0px -4px;
		li {
			padding: 0px 4px;
		}
		@media (max-width:$md4+px){
			 li{
				 &:nth-child(4){
					 display: none;
				 }
			 } 
		}
	}
	// ._pagging__item
	&__item {
		min-width: 40px;
		height: 40px;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: color 0.3s ease 0s;
		@media (max-width: $md4+px) {
			min-width: 32px;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $bg-06;
				&::before {
					color: $bg-06;
				}
			}
		}
		&_points {
			margin: -8px 0px 0px 0px;
		}
	}
}
// ?._header-block
._header-block {
	display: grid;
	gap: 16px;
	._header-block__line {
		&_link {
			display: flex;
			align-items: flex-start;
			._header-block__title {
				margin: 0px 0px 0px 24px;
			}
		}
	}
	._header-block__link {
		display: flex;
		align-items: center;
		&::before {
			margin: 1px 4px 0px 0px;
			color: inherit;
		}
	}
	._header-block__title {
	}
	._header-block__text {
		@extend ._body;
	}
}
//? _registration-block-header
._registration-block-header {
	text-align: center;
	&:not(:last-child) {
		margin: 0px 0px 32px 0px;
	}
	//._registration-block-header__title
	&__title {
	}
	//._registration-block-header__subtitle
	&__subtitle {
		padding: 16px 0px 0px 0px;
		@extend ._body;
	}
	// ._registration-block-header__block-span
	&__block-span {
		display: inline-flex;
		align-items: center;
	}
	// ._registration-block-header__image
	&__image {
		width: 24px;
		height: 24px;
		margin: 0px 5px 0px 8px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		img {
			width: 20px;
			flex: 0 0 20px;
			height: 20px;
		}
	}
	// ._registration-block-header__span
	&__span {
		@extend ._body;
		color: #11bb19;
	}
}

//? .main-block
._content-block {
	padding: 32px;
	border-radius: 4px;
	background-color: $bg-03;
	@media (max-width:$md3+px){
		 padding: 16px; 
	}
}
//========================================================================================================================================================
//!ПОПАП
.popup {
	// .popup_my-rates
	&_my-rates {
		.popup__body {
			max-width: 432px;
			padding: 24px;
			border-radius: 4px;
		}
	}
	// .popup__content
	&__content {
	}
	// .popup__body
	&__body {
	}
}
// my-rates
.my-rates-popup {
	text-align: center;
	// .my-rates-popup__header
	&__header {
		&:not(:last-child) {
			margin: 0px 0px 16px 0px;
		}
	}
	// .my-rates-popup__title
	&__title {
	}
	// .my-rates-popup__text
	&__text {
		text-align: left;
		@extend ._body;
		p {
			span {
				@extend ._success;
			}
		}
	}
	// .my-rates-popup__footer
	&__footer {
		padding: 24px 0px 0px 0px;
		display: inline-grid;
		grid-auto-flow: column;
		align-items: center;
		gap: 16px;
	}
	// .my-rates-popup__button
	&__button {
	}
}

.button {
	// .button_contained
	&_contained {
	}
	// .button_text
	&_text {
	}
}
//========================================================================================================================================================
// F.A.G
.popup {
	// .popup_fag
	&_fag {
		.popup__body {
			max-width: 491px;
			padding: 56px;
			border-radius: 4px;
		}
	}
}
.fag-popup {
	text-align: center;
	// .fag-popup__text
	&__text {
	}
	// .fag-popup__button
	&__button {
	}
}
.my-rates-popup {
	// .my-rates-popup__footer
	&__footer {
	}
}
//========================================================================================================================================================
// payment-popup
.popup {
	// .popup_my-rates
	&_payment {
		.popup__body {
			max-width: 432px;
			padding: 24px;
			border-radius: 4px;
		}
	}
}
.payment-popup {
	text-align: center;
	display: grid;
	row-gap: 24px;
	// .payment-popup__title
	&__title {
	}
	// .payment-popup__body
	&__body {
	}
	// .payment-popup__item
	&__item {
		&:not(:last-child) {
			margin: 0px 0px 24px 0px;
		}
	}
	// .payment-popup__buttons
	&__buttons {
		padding: 8px 0px 0px 0px;
		display: inline-grid;
		grid-auto-flow: column;
		align-items: center;
		gap: 24px;
	}
	// .payment-popup__button
	&__button {
	}
}

.method-payment-popup {
	// .method-payment-popup__text
	&__text p {
		@extend ._body;
		&:first-child {
			display: flex;
			align-items: center;
			justify-content: center;
		}
	}
	// .method-payment-popup__item
	&__item {
	}
	// .method-payment-popup__item
	&__item {
	}
}
.item-method-payment-popup {
	display: inline-flex;
	align-items: center;
	padding: 0px 15px 0px 15px;
	// .item-method-payment-popup__image
	&__image {
	}
	// .item-method-payment-popup__name
	&__name {
		padding: 0px 0px 0px 8px;
	}
}
.payment-popup-ways {
	max-width: 276px;
	margin: 0px auto;
	// .payment-popup-ways__text
	&__text {
		&:not(:last-child) {
			margin: 0px 0px 16px 0px;
		}
	}
	// .payment-popup-ways__items
	&__items {
		display: inline-grid;
		grid-template-columns: repeat(3, auto);
		gap: 16px;
	}
	// .payment-popup-ways__link
	&__link {
		width: 40px;
		height: 40px;
		overflow: hidden;
		border-radius: 4px;
		@extend %element-bg;
		display: flex;
		justify-content: center;
		align-items: center;
		@media (any-hover: hover) {
			&:hover {
				background: linear-gradient(180deg, #030e1b 0%, #041324 100%);
			}
		}
		img {
			max-width: 100%;
			max-height: 100%;
		}
	}
}
//========================================================================================================================================================
//! registration
// ? registration-general
.popup {
	// .popup_registration-general
	&_registration-general {
	}
	// .popup_register-mail
	&_register-mail {
	}
	// .popup_login-1
	&_login-1 {
	}
	// .popup_login-2
	&_login-2 {
	}
	// .popup_login-3
	&_login-3 {
	}
	// .popup_login-4
	&_login-4 {
	}
	// .popup_login-5
	&_login-5 {
	}
	// .popup_login-6
	&_login-6 {
	}
	// .popup_login-7
	&_login-7 {
	}
	// .popup_login-8
	&_login-8 {
	}
	// .popup_login-9
	&_login-9 {
	}
	// .popup_login-10
	&_login-10 {
	}
	// .popup_login-11
	&_login-11 {
	}
	// .popup_login-successfully
	&_login-successfully {
	}
	// .popup__content
	&__content {
	}
	// .popup__body
	&__body {
		&_reg {
			background-color: $bg-03;
			border-radius: 4px;
			max-width: 320px;
			min-height: 594px;
			display: flex;
			flex-direction: column;
			padding: 30px 32px 16px 30px;
		}
	}
	// .popup__close
	&__close {
		// .popup__close_video
		&_video {
		}
	}
}
.registration-general-popup {
	text-align: center;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	// .registration-general-popup__title

	// .registration-general-popup__form
	&__form {
		min-height: 100%;
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
	}
	// .registration-general-popup__buttons
	&__buttons {
		flex: 1 1 auto;
	}
	// .registration-general-popup__method
	&__method {
		width: 100%;
		&:not(:last-child) {
			margin: 0px 0px 16px 0px;
		}
	}
	// .registration-general-popup__bitton
	&__button {
	}
}
.payment-method-button {
	// .payment-method-button__image
	&__image {
		display: flex;
		justify-content: center;
		align-items: center;
		&::before {
			color: #fff;
			@extend %ic;
			display: flex;
			justify-content: center;
			align-items: center;
			width: 24px;
			height: 24px;
			font-size: 22px;
		}
	}
	// .payment-method-button__name
	&__name {
		line-height: 20px;
	}
}
// ? register-mail
.register-mail {
	text-align: center;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	// .register-mail__title

	// .register-mail__form
	&__form {
		text-align: left;
		min-height: 100%;
		flex: 1 1 auto;
		display: flex;
		flex-direction: column;
	}
	// .register-mail__input
	&__input {
		&:not(:last-child) {
			margin: 0px 0px 24px 0px;
		}
	}
	// .register-mail__line
	&__line {
		padding: 8px 0px 0px 0px;
		text-align: center;
	}
	// .register-mail__button
	&__button {
	}
	// .register-mail__fotter
	&__footer {
		padding: 15px 0px 0px 0px;
	}
}
// ? login-1
.login-1 {
	@extend .registration-general-popup;

	// .login-1__form
	&__form {
		@extend .registration-general-popup__form;
	}
	// .login-1__buttons
	&__buttons {
		@extend .registration-general-popup__buttons;
	}
	// .login-1__method
	&__method {
		@extend .registration-general-popup__method;
	}
	// .login-1__footer
	&__footer {
		padding: 15px 0px 0px 0px;
	}
	// .login-1__button
	&__button {
	}
}
// ? login-2
.login-2 {
	// .login-2__header
	&__header {
	}
	// .login-2__form
	&__form {
	}
	// .login-2__input
	&__input {
		&:not(:last-child) {
			margin: 0px 0px 24px 0px;
		}
	}
	// .login-2__footer
	&__footer {
		text-align: center;
		padding: 8px 0px 0px 0px;
		display: inline-grid;
		grid-auto-flow: column;
		gap: 15px;
	}
	// .login-2__button
	&__button {
	}
}
//? login-3
.login-3 {
	// .login-3__header
	&__header {
	}
	// .login-3__form
	&__form {
	}
	// .login-3__input
	&__input {
		&:not(:last-child) {
			margin: 0px 0px 24px 0px;
		}
	}
	// .login-3__footer
	&__footer {
		text-align: center;
		padding: 8px 0px 0px 0px;
		display: inline-grid;
		grid-auto-flow: column;
		column-gap: 35px;
	}
	// .login-3__button
	&__button {
	}
}
//? .login-4
.login-4 {
	// .login-4__header
	&__header {
		&:not(:last-child) {
			margin: 0px 0px 24px 0px;
		}
	}
	// .login-4__body
	&__body {
		text-align: center;
	}
	// .login-4__button
	&__button {
	}
}
//? .login-5
.login-5 {
	// .login-5__header
	&__header {
	}
	// .login-5__form
	&__form {
	}
	// .login-5__input
	&__input {
		&:not(:last-child) {
			margin: 0px 0px 24px 0px;
		}
	}
	// .login-5__footer
	&__footer {
		padding: 8px 0px 0px 0px;
		text-align: center;
	}
	// .login-5__button
	&__button {
	}
}
//? .login-5
.login-5 {
	// .login-5__header
	&__header {
	}
	// .login-5__form
	&__form {
	}
	// .login-5__input
	&__input {
		&:not(:last-child) {
			margin: 0px 0px 24px 0px;
		}
	}
	// .login-5__footer
	&__footer {
		padding: 8px 0px 0px 0px;
		text-align: center;
	}
	// .login-5__button
	&__button {
	}
}
//? .login-successfully
.login-successfully {
	// .login-successfully__header
	&__header {
		&:not(:last-child) {
			margin: 0px 0px 24px 0px;
		}
	}
	// .login-successfully__body
	&__body {
		text-align: center;
	}
	// .login-successfully__button
	&__button {
	}
}
//? login-6
.login-6 {
	// .login-6__header
	&__header {
	}
	// .login-6__form
	&__form {
	}
	// .login-6__input
	&__input {
		&:not(:last-child) {
			margin: 0px 0px 24px 0px;
		}
	}
	// .login-6__footer
	&__footer {
		text-align: center;
		padding: 8px 0px 0px 0px;
	}
	// .login-6__button
	&__button {
	}
}
//? login-7
.login-7 {
	// .login-7__header
	&__header {
	}
	// .login-7__form
	&__form {
	}
	// .login-7__input
	&__input {
		&:not(:last-child) {
			margin: 0px 0px 24px 0px;
		}
	}
	// .login-7__footer
	&__footer {
		padding: 8px 0px 0px 0px;
		text-align: center;
	}
	// .login-7__button
	&__button {
	}
}
//? login-8
.login-8 {
	// .login-8__header
	&__header {
	}
	// .login-8__form
	&__form {
	}
	// .login-8__input
	&__input {
		&:not(:last-child) {
			margin: 0px 0px 24px 0px;
		}
	}
	// .login-8__footer
	&__footer {
		padding: 8px 0px 0px 0px;
		text-align: center;
	}
	// .login-8__button
	&__button {
	}
}
//? login-9
.login-9 {
	// .login-9__header
	&__header {
		&:not(:last-child) {
			margin: 0px 0px 24px 0px;
		}
	}
	// .login-9__body
	&__body {
		text-align: center;
	}
	// .login-9__button
	&__button {
	}
}
//? login-10
.login-10 {
	// .login-10__header
	&__header {
	}
	// .login-10__form
	&__form {
		&:not(:last-child) {
			margin: 0px 0px 32px 0px;
		}
	}
	// .login-10__input
	&__input {
		&:not(:last-child) {
			margin: 0px 0px 24px 0px;
		}
	}
	// .login-10__footer
	&__footer {
		text-align: center;
	}
	// .login-10__button
	&__button {
	}
}

//? login-11
.login-11 {
	// .login-11__header
	&__header {
	}
	// .login-11__form
	&__form {
	}
	// .login-11__input
	&__input {
		&:not(:last-child) {
			margin: 0px 0px 24px 0px;
		}
	}
	// .login-11__footer
	&__footer {
		padding: 8px 0px 0px 0px;
		text-align: center;
	}
	// .login-11__button
	&__button {
	}
}

//========================================================================================================================================================
//! black-analysts
.popup {
	// .popup_black-analysts
	&_black-analysts {
		.popup__body {
			max-width: 620px;
		}
	}
	// .popup__content
	&__content {
	}
	// .popup__body
	&__body {
	}
}
.black-analysts-popup {
	// .black-analysts-popup__title
	&__title {
		&:not(:last-child) {
			margin: 0px 0px 24px 0px;
		}
	}
	// .black-analysts-popup__form
	&__form {
		&:not(:last-child) {
			margin: 0px 0px 24px 0px;
		}
	}
	// .black-analysts-popup__input
	&__input {
		text-align: right;
		&:not(:last-child) {
			margin: 0px 0px 24px 0px;
		}
		.input__span-value {
			padding: 4px 0px 0px 0px;
			display: inline-block;
		}
		.input__line_area {
			textarea {
				height: 320px;
			}
		}
	}
	// .black-analysts-popup__footer
	&__footer {
		text-align: right;
	}
	// .black-analysts-popup__button
	&__button {
	}
}
//========================================================================================================================================================
.popup {
	// .popup_login-new-1
	&_login-new-1,
	&_login-new-2,
	&_login-new-3,
	&_login-new-4 {
		@media (max-width: $md4+px) {
			padding: 30px 0px;
		}
		.popup__body {
			padding: 32px 20px 16px 20px;
			height: 100%;
			min-height: 734px;
			@media (max-width: $md3+px) {
				padding: 16px;
			}
		}
	}
	&_login-new-5,
	&_login-new-6 {
		.popup__body {
			min-height: 734px;
			padding: 32px;
			@media (max-width: $md3+px) {
				padding: 32px 16px;
			}
			@media (max-width: $md4+px) {
				padding: 32px 7px;
			}
		}
	}
}
.login-new-1 {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100%;
	flex: 1 1 auto;
	// .login-new-1__header
	&__header {
		&:not(:last-child) {
			margin: 0px 0px 24px 0px;
		}
	}
	// .login-new-1__top
	&__top {
	}
	// .login-new-1__buttons
	&__buttons {
		display: grid;
		grid-template-columns: repeat(5, 40px);
		gap: 8px;
		justify-content: center;
	}
	// .login-new-1__method
	&__method {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	// .login-new-1__form
	&__form {
		text-align: center;
		flex: 1 1 auto;
	}
	// .login-new-1__menu
	&__menu {
		display: inline-flex;
		margin: 0px 0px 8px 0px;
	}
	// .login-new-1__form-block
	&__form-block {
		flex: 1 1 auto;
		text-align: left;
		> * {
			&:not(:last-child) {
				margin: 0px 0px 32px 0px;
			}
		}
		@media (max-width: $md3+px) {
			> * {
				&:not(:last-child) {
					margin: 0px 0px 24px 0px;
				}
			}
		}
	}
	&__btn-line {
		display: grid;
		grid-auto-flow: column;
		gap: 10px;
	}
	// .login-new-1__input
	&__input {
	}
	// .login-new-1__button
	&__button {
		text-align: center;
		.button {
			min-height: 40px;
		}
		@media (max-width: $md3+px) {
			&:not(:last-child) {
				margin: 0px 0px 32px 0px;
			}
		}
	}
	// .login-new-1__checkbox
	&__checkbox {
		&:not(:last-child) {
			margin: 0px 0px 16px 0px;
		}
		.checkbox__text {
			font-size: 12px;
		}
	}
	// .login-new-1__code
	&__code {
		padding: 0px 0px 0px 0px;
		max-width: 240px;
		margin: 0px auto 5px auto !important;
	}
	// .login-new-1__footer
	&__footer {
		padding: 24px 0px 0px 0px;
		text-align: center;
		margin: auto 0px 0px 0px;
	}
	// .login-new-1__btn
	&__btn {
	}
}
//========================================================================================================================================================
.login-new-5 {
	display: flex;
	flex-direction: column;
	// .login-new-5__header
	&__header {
		&:not(:last-child) {
			margin: 0px 0px 16px 0px;
		}
	}
	// .login-new-5__top
	&__top {
	}
	// .login-new-5__main
	&__main {
		flex: 1 1 auto;
		&:not(:last-child) {
			margin: 0px 0px 40px 0px;
		}
	}
	// .login-new-5__body
	&__body {
		padding: 16px;
		background-color: $bg-01;
		border-radius: 4px;
	}
	// .login-new-5__link
	&__link {
		text-align: center;
		padding: 5px 0px 0px 0px;
	}
	// .login-new-5__btn
	&__btn {
	}
	// .login-new-5__footer
	&__footer {
		text-align: center;
	}
}
.body-login-new-5 {
	// .body-login-new-5__type
	&__type {
		&:not(:last-child) {
			margin: 0px 0px 8px 0px;
		}
	}
	// .body-login-new-5__title
	&__title {
		&:not(:last-child) {
			margin: 0px 0px 24px 0px;
		}
	}
	// .body-login-new-5__list
	&__list {
	}
	// .body-login-new-5__item
	&__item {
		display: flex;
		align-items: center;
		font-size: 12px;
		line-height: 16px;
		&:not(:last-child) {
			margin: 0px 0px 16px 0px;
		}
		&::before {
			margin: 0px 10px 0px 0px;
		}
	}
}
.footer-login-new-5 {
	text-align: center;
	// .footer-login-new-5__button
	&__button {
		&:not(:last-child) {
			margin: 0px 0px 24px 0px;
		}
	}
	// .footer-login-new-5__pay
	&__pay {
	}
	// .footer-login-new-5__label
	&__label {
		font-size: 14px;
		line-height: 24px;
		margin-bottom: 8px;
	}
	// .footer-login-new-5__items
	&__items {
	}
	// .footer-login-new-5__item
	&__item {
		max-width: 196px;
		margin: 0px auto;
	}
}
//========================================================================================================================================================

.popup {
	// .popup_login-new-6
	&_login-new-6 {
		@media (max-width: $md4+px) {
			padding: 30px 7px;
		}
		.popup__body {
			max-width: 650px;
		}
	}
}
.login-new-6 {
	// .login-new-6__header-block
	&__header-block {
		&:not(:last-child) {
			margin: 0px 0px 32px 0px;
		}
	}
	// .login-new-6__main
	&__main {
		margin: 0px 0px 48px 0px;
		@media (max-width: $md4+px) {
			margin: 0px 0px 32px 0px;
		}
	}
	// .login-new-6__items
	&__items {
		display: grid;
		grid-template-columns: 1fr repeat(2, auto);
		gap: 22px;
		@media (max-width: $md3+px) {
			gap: 4px;
			grid-template-columns: auto;
			grid-auto-flow: column;
		}
		@media (max-width: $md4+px) {
			gap: 0;
		}
	}
	// .login-new-6__column
	&__column {
		position: relative;
		min-width: 158px;
		@media (max-width: $md3+px) {
			min-width: 97px;
			display: flex;
			flex-direction: column;
			.login-new-6__header {
				flex: 1 1 auto;
			}
		}
		// .login-new-6__column_one
		&_one {
			.login-new-6__list {
				padding: 74px 16px 16px 16px;
			}
			.login-new-6__item {
				display: -webkit-box;
				-webkit-box-orient: vertical;
				-webkit-line-clamp: 1;
				overflow: hidden;
			}
			@media (max-width: $md3+px) {
				.login-new-6__list {
					padding: 136px 8px 8px 8px;
				}
			}
			@media (max-width: $md4+px) {
				.login-new-6__list {
					padding: 136px 0px 0px 0px;
				}
				.login-new-6__item {
					font-size: 10px;
					.span {
						display: none;
					}
				}
			}
		}
		// .login-new-6__column_two
		&_two {
			background-color: $bg-02;
			@media (max-width: $md4+px) {
				margin: 0px 4px 0px 0px;
			}
		}
		// .login-new-6__column_three
		&_three {
			background-color: $bg-02;
		}
		&_two,
		&_three {
			border-radius: 4px;
			.login-new-6__list {
				padding: 8px 13px 38px 13px;
				align-items: center;
			}
			@media (max-width: $md3+px) {
				.login-new-6__list {
					padding: 8px 8px 8px 8px;
				}
			}
		}
		&._selected {
			&::after {
				content: "";
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				background: linear-gradient(265.54deg, #ff1b2d 5.77%, #df006b 95.36%);
				border-radius: 4px;
			}
			&::before {
				content: "";
				position: relative;
				position: absolute;
				width: calc(100% - 4px);
				height: calc(100% - 4px);
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				z-index: 1;
				background-color: $bg-02;
				border-radius: 4px;
			}
			.login-new-6__subtitle {
				opacity: 1;
				overflow: visible;
				background: linear-gradient(265.54deg, #ff1b2d 5.77%, #df006b 95.36%);
				border-radius: 4px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
		}
	}
	&__header {
		position: relative;
		z-index: 1;
		height: 66px;
		text-align: center;
	}
	// .login-new-6__subtitle
	&__subtitle {
		padding: 0px 5px;
		opacity: 0;
		overflow: hidden;
		font-size: 12px;
		line-height: 16px;
		min-height: 24px;
		&:not(:last-child) {
			margin: 0px 0px 8px 0px;
		}
		@media (max-width: $md3+px) {
			min-height: 22px;
		}
	}
	// .login-new-6__title
	&__title {
		padding: 0px 5px;
		@media (max-width: $md3+px) {
			font-size: 16px;
			padding: 0px 3px;
		}
	}
	// .login-new-6__list
	&__list {
		position: relative;
		z-index: 1;
		display: flex;
		flex-direction: column;
	}

	// .login-new-6__status
	&__status {
	}

	// .login-new-6__type
	&__type {
		flex: 0 0 35px;
		line-height: 120%;
		@media (max-width: $md3+px) {
			display: none;
		}
	}
	// .login-new-6__item
	&__item {
		display: grid;
		grid-auto-flow: column;
		gap: 8px;
		height: 26px;
		overflow: hidden;
		font-size: 16px;
		&:not(:last-child) {
			margin: 0px 0px 16px 0px;
		}
		@media (max-width: $md3+px) {
			&:not(:last-child) {
				margin: 0px 0px 6px 0px;
			}
			height: 24px;
		}

		&_price {
			height: auto;
			overflow: visible;
		}
		&_mob {
			display: none;
			@media (max-width: $md3+px) {
				display: block;
				.login-new-6__type {
					display: flex;
				}
			}
		}
		@media (max-width: $md3+px) {
			font-size: 14px;
		}
	}
	&__price {
		display: grid;
		position: relative;
		@media (max-width: $md3+px) {
			min-height: 42px;
		}
	}
	// .login-new-6__old-price
	&__old-price {
		text-decoration-line: line-through;
	}
	// .login-new-6__new-price
	&__new-price {
		color: $success;
		position: absolute;
		bottom: 0;
	}
	// .login-new-6__footer
	&__footer {
	}
}
.login-new-5 {
	// .login-new-5__top
	&__top {
	}
}

.login-new-6 {
	// .plogin-new-6__status
	&__status {
		height: 24px;
		font-size: 24px;
		flex: 0 0 24px;
		width: 24px;
		@extend %ic;
		@media (max-width: $md3+px) {
			height: 18px;
			font-size: 18px;
			flex: 0 0 18px;
			width: 18px;
		}
		// .payout-history__status_yes
		&_yes {
			color: $success;
			@extend ._icon-99;
		}
		&_no {
			color: $fail;
			@extend ._icon-100;
		}
		&_expectation {
			color: $important;
			@extend ._icon-69;
		}
	}
}
.footer-login-new-5 {
	// .footer-login-new-5__button
	&__button {
	}
	// .footer-login-new-5__pay
	&__pay {
	}
	// .footer-login-new-5__label
	&__label {
	}
	// .footer-login-new-5__items
	&__items {
	}
	// .footer-login-new-5__item
	&__item {
	}
}
